[2017-03-22 22:25] ALRubinger opened #2 "Create initial project structure for source, build scripts, README"

[2017-03-22 22:26] ALRubinger commented on #2
bfcbb56

[2017-03-22 22:26] #2 closed

[2017-03-23 18:19] ALRubinger opened #3 "HTTP API - Move "Design Tradeoffs" section to the the Introduction"

[2017-03-23 18:21] ALRubinger opened #4 "HTTP API - Add Section at the top describing the Use Case"
This is an application that will allow a user to:

Execute an HTTP GET request upon the greeting endpoint.
Receive a response in JSON format with a payload of the “Hello, World!” welcome message.
Executes an HTTP GET request upon the greeting endpoint, passing in a String argument to the name request parameter in the query string
Receive a response in JSON format with a payload of “Hello, $name!”,

[2017-03-24 09:08] ALRubinger commented on #3
6b210b3375e4789df1967339dd665f5a639e8840

[2017-03-24 09:08] #3 closed

[2017-03-24 09:10] ALRubinger commented on #4
1a8809f75564483886bd5f59282b6474990aac89

[2017-03-24 09:10] #4 closed

[2017-03-24 09:25] ALRubinger opened #9 "Fix some simple typos"

[2017-03-24 09:25] ALRubinger commented on #9
6859557

[2017-03-24 09:25] #9 closed

[2017-03-24 17:37] ALRubinger opened #11 "Create Guide: Installation of Launchpad on MiniShift"

[2017-03-24 17:41] rhoads-zach commented on #11
Work done in PR #10

[2017-03-31 11:09] ALRubinger opened #15 "Create Wiki Page: Status of Boosters"
Let's create a table of all known Boosters under our control, and the state they're in.

Blocking under Mission finalization
Ready for Developer
Under Development
Ready for QE
Maintenance

[2017-03-31 14:40] rhoads-zach commented on #15
@ALRubinger do you want this as the main wiki page? or a different page?

[2017-04-01 13:37] ALRubinger opened #16 "Temporarily remove "modify" Booster sections"
@rhoads-zach This guidance is one that I stand behind, but I think we're scoped too widely for Summit.

The instructions to enhance the Boosters in an expert mode open up some questions:
1) How do we test the docs to ensure they leave the user with functioning apps?
2) How do we keep changes to the instructions in sync?
3) Do we attempt these for all Missions for consistency?

Let's scope ourselve

[2017-04-01 14:49] ALRubinger opened #17 "Update README to reflect rename"

[2017-04-01 14:55] ALRubinger commented on #17
5b9d0d1

[2017-04-01 14:55] #17 closed

[2017-04-01 14:55] ALRubinger opened #18 "Git ignore IDEA"

[2017-04-01 14:56] ALRubinger commented on #18
dc2469c

[2017-04-01 14:56] #18 closed

[2017-04-01 18:00] ALRubinger commented on #11
2220a0a46f3056eb2dc194931eb3bf42523f58f6
ace117ed6da0a6ff4f1061e3d37f893678f6fcb9

[2017-04-01 18:00] #11 closed

[2017-04-01 18:02] ALRubinger opened #19 "Review and offer docs love to Launchpad installation on Minishift guide"
In particular, the image links seem broken when I generate the HTML using the script, but seem fine in my IDE. :)

[2017-04-03 16:18] kenfinnigan commented on #15
@rhoads-zach, personally the main wiki page is the best place

[2017-04-04 15:10] rhoads-zach commented on #16
@ALRubinger since #20 resolved this issue, i'm closing

[2017-04-04 15:10] #16 closed

[2017-04-04 19:24] ALRubinger opened #24 "Docs should not have per-platform notes"
Just as we handle a guide per runtime (Vert.x, Swarm, Boot) in the Boosters, installation instructions should be per platform (Windows, Mac, *nix) so user's don't have to comb through irrelevant pieces.  So, starting with the Launchpad on Minishift installation guide, we'll need to extract platform-specific stuff into includes and have the build select the right one to make guide-per-platform.

[2017-04-05 12:37] kenfinnigan opened #26 "Repo structure"
As we begin to add more content into /docs/topics I'm wondering whether we need to arrange the files into sub directories related to the specific topic?

As we get more and more chunked content all in /docs/topics it will become increasingly more difficult to locate the specific file you need to work with, look at, etc

[2017-04-05 21:12] balunasj opened #27 "Booster README.md files should not use "http" tool"
User feedback - user had no idea what the "http(ie)" tool is. We should replace references to the http tool with text to "load this URL in your browser". Usage of curl in the README.md is acceptable since it is a well-known tool. "For unix/linux users, curl ..."

[2017-04-05 21:23] ALRubinger opened #28 "Deployment from local on host to OSO using FMP must check for project first"
As described in:

https://issues.jboss.org/browse/OBST-26

[2017-04-06 18:02] starksm64 opened #31 "appdev-documentation/docs/minishift-installation/topics directory is a bad link"
None of the references in the appdev-documentation/docs/minishift-installation/master.adoc doc into the topic subdirectory are resolving because this appears to be an invalid link.

[2017-04-06 18:06] ALRubinger commented on #31
@starksm64 The link is good, but GitHub isn't rendering it right.

Pulling down the docs repo and running the build per instructions in the README here should get you properly generated docs.  And then you can get at 'em like `file:///home/alr/business/jboss/git/openshiftio/appdev-documentation/html/minishift-installation.html`

FYI I'm right now working on a CI job to gen docs for us publicly.

[2017-04-06 18:14] starksm64 commented on #31
Ah, ok. I am able to generate them locally and view them.

[2017-04-06 20:28] rhoads-zach commented on #19
@ALRubinger closing this issue due to MR #21

[2017-04-06 20:28] #19 closed

[2017-04-06 20:38] rhoads-zach commented on #26
@kenfinnigan adding directories around topic subject may make it easier to find certain pieces of content, but it introduces an additional management/maintenance task to keep the taxonomy up to date.

Do you have a specific structure in mind or an idea around organization?

[2017-04-06 20:40] rhoads-zach commented on #27
@balunasj we use CURL and browser interaction in the current HTTP Level 0:

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-basic-interaction-spring-boot-tomcat.adoc

Is this acceptable, or do we need to move to only browser?

[2017-04-06 20:41] rhoads-zach commented on #31
Thanks @ALRubinger. Closing this issue.

[2017-04-06 20:41] #31 closed

[2017-04-06 21:11] rhoads-zach opened #32 "fix nested topics/topics folder"
The following topic is nested in topics/topics:

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/topics/OBST-wf-swarm-crud-deploy-to-openshift-pipeline.adoc

move this file to be in the same dir as the other topics and fix any affected includes.

[2017-04-06 21:20] rhoads-zach opened #33 "Review and finalize HTTP API Level 0 intro, tradeoffs and resources"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-intro.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-design-tradeoffs.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-resources.adoc

[2017-04-06 21:20] rhoads-zach commented on #33
@starksm64 do you mind taking this?

[2017-04-06 21:27] rhoads-zach opened #34 "Add tradeoffs section to CRUD Mission"
@inoxx03 can you work with @starksm64 to get a tradeoff section added to the CRUD missions?

For example:
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-design-tradeoffs.adoc

[2017-04-06 21:31] rhoads-zach opened #35 "Review and Finalize CRUD intro and resources"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/crud-experience-intro.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/crud-experience-resources.adoc

[2017-04-06 21:31] rhoads-zach commented on #35
@starksm64 do you mind taking this?

[2017-04-06 21:32] rhoads-zach opened #36 "Create design tradeoffs for config map mission"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-design-tradeoffs.adoc

[2017-04-06 21:32] rhoads-zach commented on #36
@starksm64 do you mind taking this?

[2017-04-06 21:35] rhoads-zach opened #37 "review and finalize intro and resources for configmap mission"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-intro.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-resources.adoc

[2017-04-06 21:35] rhoads-zach commented on #37
@starksm64 do you mind taking this?

[2017-04-06 21:38] rhoads-zach opened #38 "review and finalize intro and resources sections in health check mission"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/health-check-experience-intro.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/health-check-experience-resources.adoc

[2017-04-06 21:38] rhoads-zach commented on #38
@starksm64 do you mind taking this?

[2017-04-06 21:40] rhoads-zach opened #39 "consider adding a design tradeoffs table to health check mission"
Consider if we need a design tradeoff section in the health check missions (similar to the other missions)

https://github.com/openshiftio/appdev-documentation/blob/master/docs/experience-health-check-wf-swarm/master.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/experience-health-check-vertx/master.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/d

[2017-04-06 21:40] rhoads-zach commented on #39
@starksm64 do you mind taking this?

[2017-04-06 21:46] rhoads-zach opened #40 "refactor deploy sections in missions for more minishift detail"

[2017-04-06 21:50] rhoads-zach opened #41 "Review and finalize integration details with WF Swarm missions"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-basic-interaction-wf-swarm.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/health-check-experience-basic-interaction-wf-swarm.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-basic-interaction-wf-swarm.adoc

[2017-04-06 21:50] rhoads-zach commented on #41
@heiko-braun mind taking this one?

[2017-04-06 21:50] rhoads-zach opened #42 "Review and finalize Vert.x missions interaction"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-basic-interaction-vertx.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/health-check-experience-basic-interaction-vertx.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-basic-interaction-vertx.adoc

[2017-04-06 21:52] rhoads-zach opened #43 "Review and finalize spring boot tomcat missions interaction"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/rest-level-0-experience-basic-interaction-spring-boot-tomcat.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/health-check-experience-basic-interaction-spring-boot-tomcat.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-basic-interaction

[2017-04-06 21:52] rhoads-zach commented on #43
@cmoulliard do you mind taking this one?

[2017-04-06 21:59] rhoads-zach opened #44 "Fix bad titles in configmap interaction topics"
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-basic-interaction-wf-swarm.adoc

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-basic-interaction-vertx.adoc

[2017-04-06 22:01] rhoads-zach opened #45 "Finalize interaction on CRUD missions"
Work with appropriate booster owners to finalize this content

https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/crud-mission-database-interaction.adoc

[2017-04-06 22:03] rhoads-zach opened #46 "Normalize format between missions"
CRUD missions differ from HTTP API, Configmap, and Healthcheck in the general format and sections (for example, CRUD as tech pre-reqs like Git and Maven versions while others do not). Please determine if that content is needed:

- Across all missions
- In specific missions
- Should be removed

Once a decision is made, please ripple across guides.

[2017-04-07 05:28] heiko-braun commented on #41
sure, i'll review it later on

[2017-04-07 13:30] heiko-braun commented on #41
A few things:

- rest-level 0: the curl commands are wrong ad the payload changed. take a look here for the most recent examples: https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-rest-http

- health-check: works completely different and is now aligned with the mission contents. take a look here: https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-health-check

- configmap: m

[2017-04-07 13:30] heiko-braun commented on #41
@rhoads-zach this put's the ball back in your court

[2017-04-07 13:55] gytis opened #47 "CRUD mission acceptance criteria update request"
I have a couple of suggestions for CRUD mission acceptance criteria:

1. If PUT/POST payload is of a wrong media type (i.e. not JSON) we should return "415 Unsupported Media Type" rather than "400 Bad Request". This error code is more specific and is returned by default in Spring Boot.
2. I wonder if specifying error response body format is not making things too fine-grained. E.g. Spring Boot has

[2017-04-07 14:19] kenfinnigan commented on #26
unfortunately not.

I think my thoughts were around making it easier to view content within the github repo without having to build it.

Maybe it won't be an issue once we have CI build process for docs to boosters, etc

[2017-04-07 17:00] inoxx03 commented on #32
fixed in: https://github.com/openshiftio/appdev-documentation/pull/48

[2017-04-07 17:48] inoxx03 commented on #46
The system requirements table has been removed across all CRUD mission guides in PR #48

[2017-04-07 18:14] rhoads-zach opened #49 "Create link to docs home on all docs"

[2017-04-07 18:15] rhoads-zach commented on #41
thank you @heiko-braun

@kenfinnigan would you like to update this in the docs, or would you like us to?

[2017-04-07 18:55] ALRubinger opened #50 "Update installation on Minishift docs"
...must reflect new properties in the template

@quintesse Just a note that every time we change the template to have new props we gotta make sure these instructions are updated.

[2017-04-07 18:56] ALRubinger commented on #50
17f3454

[2017-04-07 18:56] #50 closed

[2017-04-07 21:50] rhoads-zach opened #51 "Create getting started guide"

[2017-04-08 01:44] kenfinnigan commented on #41
If you're able to @rhoads-zach that would be awesome!

[2017-04-08 13:50] ALRubinger opened #53 "Create CI for documentation"
A bit hard to read on the GitHub UI, given our includes and whatnot.

Should build documentation and serve it on every commit.

For now, just host this *somewhere*.

[2017-04-08 13:59] ALRubinger commented on #53
fe29fb1 c07b14b

[2017-04-08 13:59] #53 closed

[2017-04-08 14:04] ALRubinger opened #54 "Add Vert.x Health Check for CI"
Continuation of work done in #53

We could use a Health Check to ensure rolling deployment doesn't roll until the verticle is ready to serve.  Is this not put in place by FMP?

[2017-04-08 14:04] ALRubinger commented on #54
Assigning to @cescoffier but you can hit back to me if you can point me to an example of where you set Health Checks and how.  :)

[2017-04-09 08:32] cescoffier commented on #54
1) What kind of health check? (probably readiness)
2) How to you want them to be implemented?  - simple route, Vert.x health check ?
3) How do you want them to be declared? - template, oc command (patch), Maven ?

[2017-04-09 08:34] cescoffier commented on #54
Ah ah, I was missing the context.

Ok, I will add the health checks :-) (I was thinking it was doc related).

[2017-04-09 08:43] cescoffier commented on #47
1. 415 should be used I agree. It is generally used when there is content negotiation (we don't have this), but we could use it.
2. without providing the basic format we would not be able to have a common test suite. However, as it's error related, let's consider it as a recommendation. Be aware that passing stack traces in error message is a "no-go".
3. It depends on how your ids are constructed.

[2017-04-09 08:45] cescoffier commented on #47
Document updated.

[2017-04-09 08:45] #47 closed

[2017-04-09 09:18] cescoffier commented on #42
In https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-experience-basic-interaction-vertx.adoc:

It

1.  references Spring Boot
2. Does not use the right way to push the new config map
3. As booster are going to have "health checks", I don't get the step 4.

[2017-04-09 09:20] cescoffier commented on #42
Has been validated the health check mission ? It's still expose a microservice anti-pattern.

[2017-04-09 09:21] cescoffier commented on #42
@rhoads-zach See my comments

[2017-04-09 15:30] #54 closed

[2017-04-09 15:31] ALRubinger commented on #54
@cescoffier Thank you! 	246489e

[2017-04-10 18:02] kenfinnigan commented on #26
closing as we've now got the docs being generated which makes it easier to see

[2017-04-10 18:02] #26 closed

[2017-04-10 18:15] #51 closed

[2017-04-10 18:22] rhoads-zach opened #56 "Add view logs for jenkins pod to docs in “getting started”"

[2017-04-10 18:24] rhoads-zach opened #57 "Update Missions with pushing updates"
- Using pipelines

[2017-04-10 18:25] rhoads-zach opened #58 "Update minishift example to show pushing updates from local using mvn"

[2017-04-10 21:16] #46 closed

[2017-04-10 21:18] rhoads-zach opened #59 "fix old references"
quickstart -> booster
experience -> mission

[2017-04-11 10:21] cmoulliard commented on #43
Yes Zach

[2017-04-11 13:09] cmoulliard opened #61 "Propose a wiki mission template"
I think that it would be great that we have within the appdev-documentation.wiki repo an adoc template to help us when we have to add a new mission/booster

[2017-04-11 13:09] cmoulliard opened #62 "Use adoc instead of asciidoc file extension"
It is not required to use .asciidoc file extension but .adoc is enough when we name the files

[2017-04-11 13:10] cmoulliard opened #63 "Add a TOC to mission wiki pages"
I propose/suggest that we add a Table Of content section for each booster/mission wiki page.

[2017-04-11 13:10] cmoulliard opened #64 "Add a level section"
As some missions/boosters will be related or could be part as discussed during f2f meetings of a learning path (= advanced, expert, ...), I propose to add a "Level" section to specify the level to which the mission belongs like also if it is linked to another missions

[2017-04-11 13:27] inoxx03 commented on #61
+1 I think this would help maintaining consistency across wiki pages detailing the individual boosters.

[2017-04-11 13:44] inoxx03 commented on #63
It seems that the http://openshiftio-appdev-docs-appdev-documentation.tsrv.devshift.net/(rendered docs) already contain an automatically generated TOC at the top of each mission guide. Is that what you mean?

[2017-04-11 14:50] #59 closed

[2017-04-11 14:51] #40 closed

[2017-04-11 15:59] rhoads-zach opened #66 "scaffold landing page"

[2017-04-11 16:14] rhoads-zach commented on #66
@ALRubinger let me know if you need anything else for this.

@inoxx03 mind giving this a +1 if this looks good?

[2017-04-11 16:35] inoxx03 commented on #66
+1 on the PR, LGTM:)

[2017-04-11 16:39] #66 closed

[2017-04-11 17:54] rhoads-zach opened #68 "Update getting started guide with ultrahook config process and general updates"

[2017-04-11 18:04] inoxx03 commented on #61
First take at a universal Mission Wiki template https://github.com/openshiftio/appdev-documentation/wiki/Mission-Wiki-Template

@cmoulliard  Please take a look and let me know if anything needs to be fixed. if you find everything ok, please feel free to close this issue.

[2017-04-11 18:08] inoxx03 commented on #63
@cmoulliard I've added a TOC to all existing Mission Wiki pages. WDYT?
I'll do some consistency fixes to unify the structure of the wiki pages, but please take a look, and let me know if this is ok.

[2017-04-11 18:10] inoxx03 opened #69 "Move EXP-102 to the Wiki"
content here:
https://docs.google.com/document/d/1RVBSFUCuouKX58SkNeiAnW3qXkD437VUqqaxhbXYHxY/edit#heading=h.oup0rkbi2qat

[2017-04-11 19:20] #56 closed

[2017-04-11 21:30] rhoads-zach commented on #15
@ALRubinger @kenfinnigan I've created an initial page here:
https://github.com/openshiftio/appdev-documentation/wiki

Closing this issue for now.

I'll assume as Missions are added the page will be updated. Also, the status should be updated by the mission owner or @ALRubinger

[2017-04-11 21:30] #15 closed

[2017-04-11 21:31] kenfinnigan commented on #15
Thanks @rhoads-zach !

[2017-04-12 10:20] gytis commented on #43
I've modified HTTP, CRUD and ConfigMap app names and fixed HTTP booster endpoint: https://github.com/openshiftio/appdev-documentation/pull/75

[2017-04-12 14:35] #57 closed

[2017-04-12 14:46] rhoads-zach commented on #43
Thank you @gytis.  #75 is now merged. The only outstanding one is Health Check

[2017-04-12 14:58] #44 closed

[2017-04-12 15:31] inoxx03 commented on #63
@cmoulliard I've added  a TOC to all wiki Mission pages (incl. the template). Please take a look an let me know if it looks OK to you and I will close this issue.

[2017-04-12 15:34] #62 closed

[2017-04-12 15:40] #32 closed

[2017-04-12 15:46] #34 closed

[2017-04-12 15:59] cmoulliard commented on #63
+1. This is perfect. We can close the ticket.

[2017-04-12 15:59] #63 closed

[2017-04-12 16:07] #58 closed

[2017-04-12 16:37] gytis commented on #43
@rhoads-zach I left health check because the spec is not finalised yet. Will have to update the docs once the spec and implementation are complete.

[2017-04-12 19:37] rhoads-zach commented on #42
@cescoffier

Per the README, i see it references editing the configmap yml file directly and doing:

`oc apply -f src/main/fabric8/configmap.yml`

Is that the proper approach?  is the following not supported?

[code]

How does this sync up with the other boosters in the mission? The mission write up is high level when updating the configmap and rolling it out:
https://github.com/openshiftio/appdev

[2017-04-12 19:48] rhoads-zach commented on #27
@balunasj i wanted to follow up on this issue. Is curl fine or should we move to browser only?

[2017-04-12 19:51] rhoads-zach opened #79 "Update about section in getting started"

[2017-04-12 20:32] balunasj commented on #27
@rhoads-zach Curl is a good, I would not want to move to browser only.  If it is both that is ok, but not required atm.

[2017-04-12 20:47] rhoads-zach commented on #27
Thanks @balunasj. We have curl and browser in the HTTP API example so i'll close this issue.

[2017-04-12 20:47] #27 closed

[2017-04-12 21:22] rhoads-zach opened #81 "Update launchpad yaml location"

[2017-04-13 06:10] cescoffier commented on #42
@rhoads-zach

During the initial deployment, the config map is provisioned automatically - it's clearly not recommended (config has its own lifecycle), but eases the interaction with the booster.

Afterward, to modify the configmap, the user needs to update `src/main/fabric8/configmap.yaml` and then apply it with `oc apply -f ....`. Nothing else is required, and so no rollout. Vert.x picks config

[2017-04-13 12:14] gytis opened #84 "Problem with ConfigMap booster acceptance criteria #3"
Acceptance criteria #3 from https://github.com/openshiftio/appdev-documentation/wiki/Mission:-ConfigMap#acceptance-criteria is not going to work if we use greeting endpoint with readiness probe. After deleting ConfigMap application needs to be restarted, but probe will not succeed because of 500 error.

[2017-04-13 12:19] kenfinnigan commented on #84
I don't believe the Mission specifies to use the greeting endpoint as the readiness probe does it?

Why not use `/` for readiness as we're publishing an index.html page there?

[2017-04-13 12:20] gytis commented on #84
It doesn't just I thought that was defacto agreement. Good point about /, will use that

[2017-04-13 12:20] #84 closed

[2017-04-13 12:30] RadekKoubsky opened #85 "[Mission: ConfigMap] SpringBoot-specific Acceptance Criteria"
There is ambiguous reference (Step 2 where?) in [SpringBoot-specific Acceptance Criteria](https://github.com/openshiftio/appdev-documentation/wiki/Mission:-ConfigMap#springboot-specific-acceptance-criteria):

`Step 2 is not required as fabric8-maven-plugin creates this using Spring Cloud Kubernetes`

This is due to last update of the mission. It relates to [Prerequisites](https://github.com/opensh

[2017-04-15 20:30] ALRubinger commented on #79
b9952d5

[2017-04-15 20:30] #79 closed

[2017-04-15 20:32] ALRubinger commented on #49
Likely need link to home at top too?  Footer merged cfb528c

[2017-04-15 20:33] ALRubinger commented on #64
Are you proposing we rank Missions within a Program by difficulty?

[2017-04-15 20:35] ALRubinger opened #87 "Apply Style"
Let's see if we can't get these to match the design @edewit has done for the frontend, at least minimally.  @rhoads-zach, would you mind telling Erik what assets we need to make this?

[2017-04-16 12:03] ALRubinger opened #88 "Add tracking"

[2017-04-16 12:16] ALRubinger commented on #88
openshiftio/appdev-planning#13

[2017-04-17 14:46] #81 closed

[2017-04-17 15:02] #68 closed

[2017-04-17 15:08] rhoads-zach commented on #87
@edewit you need to add the styles to docs/topics/styles/style.css and uncomment lines 10 and 11 in docs/topics/templates/document-attributes.adoc.

[2017-04-17 19:39] rhoads-zach commented on #85
Updated docs with functionality as is in #90

[2017-04-17 21:46] rhoads-zach commented on #41
#91 and #90 help address some of the issues.

I'm still not clear on how to interact with the health check Mission. @kenfinnigan or @heiko-braun can you issue a PR updating the WF Health Check Mission on how you're supposed to interact with it?

[2017-04-18 04:39] heiko-braun commented on #41
@rhoads-zach Sure, I can do that. But I am not clear what you expect. The basic interactions are described in https://docs.google.com/document/d/10ZzCVrxzifQeASAYlgFWERqgbYGj4ucJwCzpb37jTyw/edit#heading=h.we4w2qryfz43 and shared between all runtimes. What's the proper place to put common descriptions?

[2017-04-18 07:11] heiko-braun commented on #41
@rhoads-zach I've update both the instructions for deployment as well interaction with booster: https://github.com/openshiftio/appdev-documentation/pull/92

Let me know if this is what you had in mind.

[2017-04-18 07:17] heiko-braun commented on #42
@cescoffier

As per https://github.com/openshiftio/appdev-documentation/wiki/Mission:-ConfigMap spec the initial configmap should be created explicitly to make clear that it's a separate, independent entity:

[code]

[2017-04-18 07:22] cescoffier commented on #42
@heiko-braun so the springboot and vert.x booster need to be updated as they deploy the config map with the application (https://github.com/snowdrop/spring-boot-configmap-booster/blob/master/src/main/fabric8/configmap.yml).

But again for Vert.x `oc edit configmap app-config` is enough. Don't do a rollout. It's a reactive application, it reacts to change.

[2017-04-18 08:07] heiko-braun commented on #41
Here's the fix to the basic http booster: https://github.com/openshiftio/appdev-documentation/pull/93

[2017-04-18 08:11] cescoffier opened #94 "Vert.x HTTP mission issues"
1. The oc pods output is not as presented:

[code]
But is actually:

[code]

The name has changed.

2. The oc get route output has changed:

New output:

[code]
3. Service interactions have changed:

[code]

should be:

[code]

Same issue for the call with `name=sarah`

[2017-04-18 08:20] heiko-braun commented on #41
Configmap seem to be fine

[2017-04-18 08:24] heiko-braun commented on #43
@gytis here are the health check instructions we use for swarm:  https://github.com/openshiftio/appdev-documentation/pull/92

Maybe this provides useful to you to close the gap

[2017-04-18 08:27] gytis commented on #43
Thanks @heiko-braun.

[2017-04-18 08:28] cescoffier opened #95 "Vert.x CRUD mission issues"
1. You must be logged in beofre creating the database

The two sections are not in the right order.

2. `You app1 pod should have a status of Running once its fully deployed and started.` is not right

You should be running AND ready (1/1)

[code]

3. On my minishift `postgresql-ephemeral` is not available, I had to use `postgresql-persistent`

4. `oc get route vertx-crud -o jsonpath={$.spec.host}

[2017-04-18 08:55] heiko-braun commented on #41
Here are the changes so far:

- [x] healthcheck instructions: https://github.com/openshiftio/appdev-documentation/pull/96
- [x] basic http instructions: https://github.com/openshiftio/appdev-documentation/pull/93
- [x] crud instructions: https://github.com/openshiftio/appdev-documentation/pull/96
- [x] configmap instructions: no changes needed

[2017-04-18 08:59] heiko-braun commented on #41
@starksm64 Do you take care of the secure-rest instructions at [1] ?

[1] https://github.com/openshiftio/appdev-documentation/tree/master/docs/mission-secured-wf-swarm

[2017-04-18 09:17] heiko-braun commented on #36
Fixed with https://github.com/openshiftio/appdev-documentation/pull/97

[2017-04-18 09:19] heiko-braun commented on #35
@rhoads-zach looking at the most recent contents this seems to be fine. @cescoffier any comments as the owner of that mission?

[2017-04-18 09:22] heiko-braun commented on #37
The relevant files are:

- https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-mission-intro.adoc
- https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/configmap-mission-resources.adoc

[2017-04-18 10:10] cescoffier opened #98 "Vert.x Config Map mission issues"
1. Missing instruction: `oc policy add-role-to-user view -n $(oc project -q) -z default` when creating the project

2. As in other booster, the pod must not only be running but also ready

3. These instructions should be removed:

[code]

Again, vert.x picks the change automatically.

[2017-04-18 14:30] cescoffier commented on #42
See issue reported in #95, #94, #98

[2017-04-18 14:56] starksm64 commented on #41
Yes, they should be good but I will go over them again today.

[2017-04-18 15:30] #87 closed

[2017-04-18 17:59] #49 closed

[2017-04-18 18:02] rhoads-zach commented on #41
@starksm64 if everything looks good do you mind closing this issue?

[2017-04-18 18:04] #36 closed

[2017-04-18 18:07] rhoads-zach commented on #43
@gytis are you still working on this? If not, do you mind closing it?

[2017-04-18 18:13] rhoads-zach commented on #61
@cmoulliard can we close this issue?

[2017-04-18 18:14] rhoads-zach commented on #69
This is now in the wiki:

https://github.com/openshiftio/appdev-documentation/wiki/Mission:-ConfigMap

closing

[2017-04-18 18:14] #69 closed

[2017-04-18 18:15] rhoads-zach commented on #85
@RadekKoubsky please take a look at the PR and docs and re-open if there are any remaining issues.

[2017-04-18 18:15] #85 closed

[2017-04-18 18:27] ALRubinger opened #101 "Set Vert.x to show index.html as an index page (no directory listing)"

[2017-04-18 18:34] #101 closed

[2017-04-18 18:46] rhoads-zach commented on #85
@cmoulliard i have documented this as it currently works. Is the plan to update it the booster and make it function like the other configmap boosters?

[2017-04-18 20:08] rhoads-zach commented on #95
@inoxx03 can you take a look at this?

[2017-04-18 20:14] starksm64 commented on #41
I have gone through them and the are fine, but I don't have permission to close the issue.

[2017-04-18 20:23] rhoads-zach commented on #35
@cescoffier do you mind taking this?

[2017-04-18 20:28] rhoads-zach commented on #41
thanks @starksm64 closing.

[2017-04-18 20:28] #41 closed

[2017-04-18 20:31] rhoads-zach commented on #37
@cmoulliard mind taking this issue?

[2017-04-18 20:33] gastaldi opened #106 "HTTP API Booster x API Level 0"
The intro docs (https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/crud-mission-intro.adoc for example) states that "... expands on the HTTP API Booster".

Shouldn't it be API Level 0 Booster?

[2017-04-18 22:06] ALRubinger commented on #88
Reopening for Erik to have a look why the JS in the footer is not called (frontend voodoo).

[2017-04-18 22:33] ALRubinger commented on #88
Sorry Erik, wrong project issue, fixed anyway in openshiftio/launchpad-frontend#70

[2017-04-18 22:33] #88 closed

[2017-04-19 02:54] jclingan opened #107 "PM Feedback on the getting started guide"
A lot of feedback here in one issue instead of creating 10 different issues.

- In the intro paragraph, "using ConfigMap" should be “using externalized configuration”. I’d prefer stating the concept rather than the implementation in the getting started guide.

- Section 1 - A very brief description of Minishift would be nice, like “Minishift runs the OpenShift Container Platform using a virtual ma

[2017-04-19 05:45] ALRubinger commented on #107
@jclingan Thank you for this feedback; I'm folding it into my review as well on this guide and will handle here.

RE: 2.2.2, the README is no longer the authoritative place for the Booster docs; the docs as listed are. :)

@rhoads-zach Ready for your review in https://github.com/openshiftio/appdev-documentation/pull/108

[2017-04-19 07:02] heiko-braun commented on #37
@rhoads-zach looks good to me.

[2017-04-19 07:22] gytis commented on #43
@rhoads-zach I'm still waiting for Ales to complete health check booster. There might be some Spring Boot specific information to be added once he's done.

[2017-04-19 08:03] cmoulliard opened #109 "Add shell script to install launch pad mission"
Goal of the script :
1) Deploy Launchpad mission control template using the parameters passed to authenticate the user using user/password or token on minishift,
2) Setup the Github identity (account & token)
3) Patch jenkins to use admin as role

Example :

[code]

[2017-04-19 12:03] #43 closed

[2017-04-19 12:27] gytis opened #112 "Wrong ConfigMap content"
I'm not sure how it is for Vert.x and Swarm, but Spring Boot ConfigMap content is different from the one defined in the docs step 3.1.1. Actual content is:

    apiVersion: v1
    data:
      application.properties: |
        greeting.message: Hello %s from a ConfigMap!
    ...

[2017-04-19 13:28] heiko-braun commented on #112
@gytis you refer to the `greeting.message` value I assume?

[2017-04-19 13:31] gytis commented on #112
@heiko-braun value and properties file name. See here: http://openshiftio-appdev-docs-appdev-documentation.tsrv.devshift.net/mission-configmap-spring-boot-tomcat.html. For spring it should be application.properties not app-config.yml.

[2017-04-19 13:38] heiko-braun opened #115 "Increase the docs base font size to 16px"
At a quick glance 16px seems common across sites that encourage reading. I think we should use the same.

[2017-04-19 13:41] #107 closed

[2017-04-19 13:50] cmoulliard commented on #115
The rendered HTML doesn't look great.

Why do we use patternfly css instead of one the asciidoctor styles (https://github.com/asciidoctor/asciidoctor-stylesheet-factory/tree/master/sass) or default asciidoctor style ?

[2017-04-19 13:52] heiko-braun commented on #112
https://github.com/openshiftio/appdev-documentation/pull/116

[2017-04-19 14:18] kenfinnigan opened #117 "{app-name} variable no longer applies"
Currently the {app-name} property is set for each booster runtime as a property to be replaced in various doc usage.

Unfortunately the boosters are now using {project.artifactId} in their builds which means the name for {app-name} is entirely dependent on what the user specifies in the Launchpad UI.

[2017-04-19 14:29] cmoulliard opened #119 "Doc should be updated to explain how to use the deploy launchpad-mission shell script"
Doc should be updated to explain how to use the deploy launchpad-mission shell script ?

To Do :

- [x] Modify `install_the_launchpad_on_minishift` section of the getting started to include the all-in-on step
- [x] Detail what the script will do
- [x] Provide some examples showing how to pass the parameters (Github account, Github token, OpenShift user/developer or OpenShift token)

[2017-04-19 14:35] heiko-braun commented on #115
Or like this https://docs.openshift.org/latest/welcome/index.html

[2017-04-19 14:48] cmoulliard commented on #115
Here is the doc generated using the default asciidoctor stylesheet

<img width="1391" alt="screenshot 2017-04-19 16 39 19" src="https://cloud.githubusercontent.com/assets/463790/25186209/cdd033c4-251f-11e7-831f-a0f0a00953a9.png">

asciibinder uses a different css file that I will try to use

Remark : The existing site generated contains a reference to a style that we don't need

[code]

[2017-04-19 15:01] inoxx03 commented on #95
Fixes in PR #120. Please take a look. Thank  you

[2017-04-19 15:30] #109 closed

[2017-04-19 15:31] #112 closed

[2017-04-19 15:31] #95 closed

[2017-04-19 15:31] #94 closed

[2017-04-19 15:31] #98 closed

[2017-04-19 15:33] rhoads-zach commented on #37
Thank you @heiko-braun closing this issue

[2017-04-19 15:33] #37 closed

[2017-04-19 15:38] rhoads-zach commented on #42
@heiko-braun @cescoffier

I have merged the linked issues from @cescoffier, is this conversation still ongoing, or is it considered resolved?

[2017-04-19 15:38] rhoads-zach commented on #45
@inoxx03 any updates on this?

[2017-04-19 15:40] heiko-braun commented on #42
I'll leave it to @cescoffier to take a final decision

[2017-04-19 15:44] #61 closed

[2017-04-19 16:48] heiko-braun opened #122 "Secured Rest booster instructions should be runtime specific"
Currently the instructions combine docs on various runtimes. It would be better for each to reflect just the specific runtime it deals with.

[2017-04-19 16:49] starksm64 commented on #122
There is a common component as a section related to the specific runtime. Are you talking about the example output?

[2017-04-19 16:52] starksm64 opened #123 "Need to note that git clone --recursive is required for secured booster projects"
In the continuous integration section of the docs, there needs to be a note indicated that the secured booster projects need to be checked out with the --recursive option or else the sso submodule will not be checked out and an empty directory will be the result. I'll create a pull request for this change.

[2017-04-19 16:54] heiko-braun commented on #122
@starksm64 Maybe my assessment is wrong. Did you intentionally reference other runtimes on each <runtime>-booster instruction to showcase the cross runtime interaction?

[2017-04-19 16:55] heiko-braun commented on #122
I am specifically talking about the `Interact with the <runtime> Booster` section. It contains parts that don't belong to the current `<runtime>`. I.e. in the swarm docs I see
![screen shot 2017-04-19 at 18 55 32](https://cloud.githubusercontent.com/assets/369380/25191994/cb1b4120-2531-11e7-872b-01eb26c8eb48.png)

[2017-04-19 16:59] starksm64 commented on #122
Ok, your right. That was originally written thinking that the java client could be used to access more than one secured booster deployment, but I can see that this could be confusing.

[2017-04-19 17:07] heiko-braun commented on #122
I can see arguments for both approaches. At the end it's still a cross functional aspect that we demonstrate. But to support that we would need to make it more explicit how to retrieve and build the other runtime services.

Thinking of it this may actually complicate things quite a bit for the user, so my suggestion would to constrain the docs to a single runtime in use at a time.

[2017-04-19 17:10] starksm64 commented on #122
Agreed, I'll change the interaction examples to be distinct for each runtime.

[2017-04-19 17:21] starksm64 commented on #123
Actually, since this is talking about git project created by the Launchpad, the project was forked recursively and so the user's project does include the sso submodule content and a recursive clone is not needed.

[2017-04-19 17:21] #123 closed

[2017-04-19 17:50] #106 closed

[2017-04-19 18:22] inoxx03 commented on #45
@rhoads-zach Clement had a good point that we should use ```curl``` instead of ```http```, since the latter requires an additional installation step. I'll replace the current CLI command and output examples with examples using ```curl```.

[2017-04-19 18:24] #117 closed

[2017-04-19 19:56] rhoads-zach commented on #45
@inoxx03 I believe this PR took care of most of the references:

https://github.com/openshiftio/appdev-documentation/pull/120/files

If these changes resolve this issue, please close this issue.

[2017-04-19 20:57] rhoads-zach commented on #122
@starksm64 @heiko-braun PR has been merged. I'll take an editing pass on the secured booster guides. If this meets your needs, do either of you mind closing this issue?

[2017-04-20 00:17] ALRubinger opened #129 "Upgrade installation on Minishift instructions to point to v3 of the template"

[2017-04-20 06:52] heiko-braun commented on #117
@rhoads-zach It looks like `{app-name}` is now substituted with `PROJECT_NAME`:
![screen shot 2017-04-20 at 08 50 31](https://cloud.githubusercontent.com/assets/369380/25217271/8210a928-25a6-11e7-9452-fd754b01cf4b.png)

Which seems wrong.

@kenfinnigan Why does  {project.artifactId} changes when booster are cloned through the launchpad? Overall this change seems to do more damage than good to me.

[2017-04-20 06:53] heiko-braun commented on #117
@rhoads-zach Should we reopen this one to revisit the problem?

[2017-04-20 06:56] heiko-braun commented on #117
Another example from the current docs:
![screen shot 2017-04-20 at 08 56 28](https://cloud.githubusercontent.com/assets/369380/25217448/462a5b56-25a7-11e7-9188-fd2d5a11e746.png)

[2017-04-20 08:48] heiko-braun opened #132 "Minishift install points to launchpad v2 instructions"
See the link in http://openshiftio-appdev-docs-appdev-documentation.tsrv.devshift.net/minishift-installation.html that takes you to the `template.yml`

[2017-04-20 08:50] cescoffier commented on #35
Fixed in #131

[2017-04-20 08:52] cescoffier commented on #42
Looks good to me, thanks @rhoads-zach

[2017-04-20 08:52] #42 closed

[2017-04-20 08:53] cescoffier commented on #45
@rhoads-zach @inoxx03 I've fixed the command lines to use the correct CURL commands (and output)

The fix is in #131

[2017-04-20 12:13] kenfinnigan commented on #117
@heiko-braun this change is necessary because the ${project.artifactId} is not fixed when cloned through the Launchpad.

Each user gives the project a unique name

[2017-04-20 12:33] rdruss opened #134 "minishift status on initial install"
Looking in minishift-install-prereq.adoc indicates in Step 1 that you can check for proper Minishift installation by executing a "minishift status" and looking for a return of "Stopped".  It appears that on initial installation if you have not started Minishift yet you will not have an image associated with Minishift, so you will get a return of "Does Not Exist".  It might be helpful to note this

[2017-04-20 13:02] rhoads-zach commented on #132
@heiko-braun this is the correct link now, correct?
https://raw.githubusercontent.com/openshiftio/launchpad-templates/v3/openshift/launchpad-template.yaml

[2017-04-20 13:58] heiko-braun commented on #132
yes, that's the one

[2017-04-20 13:58] heiko-braun commented on #132
we might actually substitute `v3` with a variable somewhere in the docs processing chain

[2017-04-20 14:11] cmoulliard commented on #119
@rhoads-zach I have added a new parameter to the script in order to specify the version of the template to be used. If my [PR](https://github.com/openshiftio/launchpad-missioncontrol/pull/238) is accepted and works with OSO (free), then the script will be updated to remove the `oc patch` step

[2017-04-20 14:43] rhoads-zach commented on #132
working on a solution now that will hopefully solve this.

[2017-04-20 15:13] #35 closed

[2017-04-20 15:13] #45 closed

[2017-04-20 15:23] #119 closed

[2017-04-20 16:55] inoxx03 commented on #28
Fixed in PR #137

[2017-04-20 17:19] rhoads-zach commented on #115
Closing this issue as per https://github.com/edewit/appdev-documentation/commit/b28c7326836cb6d7b2259ad0511bf084d12a85f3

[2017-04-20 17:19] #115 closed

[2017-04-20 17:27] #122 closed

[2017-04-20 17:27] heiko-braun commented on #122
i've checked and it looks good to me

[2017-04-20 19:18] #28 closed

[2017-04-20 21:30] rhoads-zach opened #141 "Launchpad install script points to wrong version of the catalog"
When installing the launchpad through the automatic script, the launchpad was showing all 6 boosters instead of just CRUD, Healtcheck and REST

[2017-04-21 00:18] ALRubinger opened #142 "Externalize latest template version; add to release train instructions to update this"
Introduced by d8506d013cffafc073861be8864a1b2aafb8f7f9; externalize the URL used by Vert.x as the indirection to `latest`

[2017-04-21 00:19] ALRubinger commented on #129
d8506d0

[2017-04-21 00:19] #129 closed

[2017-04-21 00:19] ALRubinger commented on #132
d8506d0

[2017-04-21 00:19] #132 closed

[2017-04-21 08:16] cmoulliard opened #144 "Review ultrahook steps & content"
- Review [ultrahook steps & content](getting-started-launchpad-update-booster-cd.adoc)
- Add missing `-k key` which is required by the ultrahook client

[2017-04-21 13:00] rhoads-zach commented on #141
@cmoulliard mind taking a look?

[2017-04-21 13:33] #144 closed

[2017-04-21 13:49] #134 closed

[2017-04-21 14:08] cmoulliard commented on #141
@rhoads-zach Do we have to use a specific tag or master is correct (https://github.com/openshiftio/appdev-documentation/blob/master/scripts/deploy_launchpad_mission.sh#L77-L78) ?

[2017-04-21 14:18] ALRubinger commented on #33
@starksm64 I'll take it.

[2017-04-21 15:09] rhoads-zach commented on #141
I believe that is an @gastaldi question

[2017-04-21 15:15] gastaldi commented on #141
@cmoulliard @rhoads-zach When a release train happens, we tag the template, changing the default values of these ENV vars to the correct values. Master is used only for development.

The tagged template has these values already set, so you must not override it. So if your script could just point to the tagged template and not override `LAUNCHPAD_BACKEND_CATALOG_GIT_REF` that should be enough.

[2017-04-21 15:22] cmoulliard commented on #141
@gastaldi So do you suggest to remove these lines ?

[code]

or just

[code]

[2017-04-21 15:22] gastaldi commented on #141
Remove all env vars that begin with `LAUNCHPAD_BACKEND_CATALOG`

[2017-04-21 15:27] cmoulliard commented on #141
see https://github.com/openshiftio/appdev-documentation/pull/149

[2017-04-21 15:28] gastaldi commented on #141
Merged in https://github.com/openshiftio/appdev-documentation/commit/723a61f4e84b9a35ef1816765ce48a8d1829bc89

[2017-04-21 15:28] #141 closed

[2017-04-21 17:45] rhoads-zach opened #150 "Consistent Mission/Booster titles"
Align the booster/mission titles with the index.html pages in each project

[2017-04-21 17:47] rhoads-zach commented on #150
@kenfinnigan @cmoulliard @ALRubinger FYI

[2017-04-22 18:13] ALRubinger opened #152 "Move to appdev.openshift.io/docs"

[2017-04-22 18:39] #152 closed

[2017-04-22 21:22] ALRubinger opened #153 "Fix small typo in landing page"
s/Getting Started/Getting Started Guide

[2017-04-22 21:23] #153 closed

[2017-04-23 16:08] cmoulliard opened #154 "Add missing getopts version parameter"
- Add missing getopts `v:` parameter
- Echo the version number

[2017-04-24 08:44] #154 closed

[2017-04-24 12:39] ALRubinger opened #160 "Don't skip tests in building docs"
Bad dog.

[2017-04-24 12:40] #160 closed

[2017-04-24 17:16] cmoulliard opened #163 "Icons of font-awesome are too small"
<img width="998" alt="screenshot 2017-04-24 19 14 26" src="https://cloud.githubusercontent.com/assets/463790/25349498/5ac09566-2922-11e7-9129-376395297212.png">

[2017-04-24 17:49] jclingan opened #164 "Replace CRUD mission verbiage with something more "compelling""
CRUD is not descriptive enough Launchpad mission name. We can discuss are more compelling alternative, but "Database Backend" is more descriptive. Willing to discuss additional alternative naming options as well.

This is going to require a documentation change in addition to a change and to the launchpad frontend for sure. If the backend keys off the mission name, then this may also require launc

[2017-04-24 18:29] rhoads-zach opened #166 "Update footer for "file a bug""

[2017-04-24 18:29] rhoads-zach opened #167 "Add appendix section for using an IDE to GSG"

[2017-04-24 18:29] rhoads-zach opened #168 "Create release.adoc"

[2017-04-24 18:31] rhoads-zach opened #169 "Remove docs callout when YAML template process is resolved"
http://appdev.openshift.io/minishift-installation.html#_create_the_launchpad_application_manually

[2017-04-25 04:56] ALRubinger opened #172 "Update README to reflect new staging environment"
Now all pushes to `upstream/master` are visible at http://appdev-stage.openshift.io, while only pushes to the `upstream/production` branch go to http://appdev.openshift.io.

[2017-04-25 04:57] #172 closed

[2017-04-25 05:44] ALRubinger opened #173 "Move generated documentation to /docs"
Root should be community of practice home; standalone HTML page will suffice for now.

[2017-04-25 05:46] ALRubinger commented on #173
Assigning to @rhoads-zach; my first commit does most of the work aside from updating the links in the generated docs to have root of "/docs/"

[2017-04-25 05:47] ALRubinger commented on #173
Note: upon this getting upstream we'll have to update READMEs in the Booster repos which point directly to their documentation to update the link to reference the new "/docs" location.  Also once this is up, we can work on the root community of practice landing page, currently stubbed out in my commit 72aa740

[2017-04-25 05:49] ALRubinger commented on #166
ecd95a3fd6b50b18ac3447a461382b68319e35a3

[2017-04-25 05:49] #166 closed

[2017-04-25 05:52] ALRubinger opened #174 "Fix display issues in footer when window is not wide enough"
....and it needs to be pretty wide :)
![screenshot14](https://cloud.githubusercontent.com/assets/199891/25370592/d52a837a-2959-11e7-9fb1-dcad7c127e10.png)

[2017-04-25 05:55] ALRubinger commented on #173
![screenshot15](https://cloud.githubusercontent.com/assets/199891/25370656/2e0a44e4-295a-11e7-9659-9fe6ef162d78.png)

Image of temp root landing page.  Why yes, I did use the `<MARQUEE>` tag.

[2017-04-25 07:47] SlavoKrupa opened #175 "Launchpad automated script issues"
* Docs should point to released version (not master)
* Script does not work in current master branch

[2017-04-25 08:32] edewit commented on #174
hmm... somebody added `File a Documention Bug` into the links let's see if we can but the license above the links

[2017-04-25 08:48] heiko-braun commented on #150
@rhoads-zach done for swarm

[2017-04-25 11:47] gytis commented on #150
@heiko-braun did you change only title and h1 tags? If docs are not going to change any more, we should update the rest of the text in index.html too maybe?

[2017-04-25 13:35] heiko-braun commented on #150
@gytis I did take the title from the docs and used it for the HTML `<title>` and the first headline in the `index.html`. Is this what you had in mind?

[2017-04-25 13:55] spisiakm opened #177 "Fix deploy postgresql database in Getting Started Guide"
There's a note in section 2.1. Use the Launchpad to Launch a Booster saying that if I am launching the CRUD mission through continuous delivery, I have to deploy the Postgres database before launching my mission. This is wrong as I have to deploy the Postgresql database manually only when not using continuous delivery option in Launchpad. When using continuous delivery, Postgresql database deploym

[2017-04-25 13:58] rhoads-zach commented on #175
i can do the first bullet

@cmoulliard can you look at the second?

[2017-04-25 14:26] rhoads-zach commented on #173
@ALRubinger updated here: https://github.com/ALRubinger/appdev-documentation/pull/1

[2017-04-25 14:28] rhoads-zach commented on #177
Thank you for the feedback @spisiakm

This has been fixed and merged in this pr:
https://github.com/openshiftio/appdev-documentation/pull/165

and can be seen here:
http://appdev.openshift.io/getting-started.html#launchpad-launch-booster-cd

[2017-04-25 14:28] #177 closed

[2017-04-25 14:30] rhoads-zach commented on #174
@edewit i added "file a bug" as per some feedback from a meeting with @ALRubinger

@edewit @ALRubinger I don't think we agreed on the text for the link so if you two want something different, feel free to change it @edewit

[2017-04-25 14:32] rhoads-zach commented on #174
@edewit also, see this update in @ALRubinger repo:
https://github.com/ALRubinger/appdev-documentation/pull/1/commits/8900201ae6173318fcf915a052df0ed5b67d8689

We're moving docs to be hosted under /docs/* so i rippled those changes to 6 lines in your CSS. Please let take a look and let me know if i missed something.

[2017-04-25 14:38] edewit commented on #174
https://github.com/ALRubinger/appdev-documentation/pull/1/commits/8900201ae6173318fcf915a052df0ed5b67d8689 seems fine

I have a a change pending where I put the image and the licence next to each other above the links,  like this:
![screenshot from 2017-04-25 16-37-28](https://cloud.githubusercontent.com/assets/51133/25391037/8911da48-29d5-11e7-99ea-d893ac712030.png)

[2017-04-25 14:45] rhoads-zach commented on #175
@SlavoKrupa mind reviewing linked PR?

[2017-04-25 15:00] rhoads-zach commented on #175
Merged the link update.

@cmoulliard mind taking  a look at the script issue?

[2017-04-25 16:29] edewit commented on #174
@rhoads-zach if you like I can make a PR for this change

[2017-04-25 16:52] rhoads-zach commented on #174
@edewit sure go ahead and do the PR. I'll merge it and rebase update my PR to @ALRubinger

[2017-04-25 22:20] ALRubinger opened #183 "Remove "All policies" link in footer"
Per request from legal.

[2017-04-25 22:24] #183 closed

[2017-04-26 00:11] #173 closed

[2017-04-26 07:16] Ladicek commented on #175
I was thinking, maybe the script in the `master` branch should always point to the `master` template, and the script in the `production` branch should point to the latest released template? But that would probably require error-prone manual work when merging to the `production` branch...

[2017-04-26 09:55] gytis commented on #150
OK updated Spring boot

[2017-04-26 09:57] SlavoKrupa opened #185 "Remove/change `Home` link from top"
Maybe consider using logo (banner) as link to home page instead?
Or change css of link ?

[2017-04-26 11:18] Ladicek opened #187 "weird behavior of code snippets when mouse over"
I'm looking at http://appdev-stage.openshift.io/docs/getting-started.html, chapter _2.3.1. Update Using Continuous Delivery_. I see that item _1. Clone your project from GitHub_ has a shell snippet that I can copy and paste, so I try to select the snippet by mouse... but when I move the cursor over the snippet, the word `ruby` appears at the beginning of the line. This happens for a lot of other s

[2017-04-26 11:23] SlavoKrupa commented on #175
Make sense :) If we can do it without manual steps it would be even better...

[2017-04-26 12:14] edewit opened #188 "Standardize naming of filenames"
In order for the frontend to link to the booster doc of the project that was just created it would be nice if it could create the link based on the selected booster, right now the names are not the same, e.g.
_mission-health-check-spring-boot-tomcat_ and
_mission-secured-spring-boot_

we should rename `spring-boot` to `spring-boot-tomcat` as that is used more

[2017-04-26 14:03] rhoads-zach commented on #185
Making this low-priority for now

[2017-04-26 14:04] rhoads-zach commented on #187
I believe this is related to language specified in the source block and the behavior of the syntax highlighter. It seems like it defaults to ruby if no language is specified. I'll try and get to this later today.

[2017-04-26 14:06] rhoads-zach commented on #188
@starksm64 can you you take a look at this?

[2017-04-26 14:10] cmoulliard commented on #175
What is the problem as you can pass[ the version](https://github.com/openshiftio/appdev-documentation/blob/master/scripts/deploy_launchpad_mission.sh#L61) to be used ?

[2017-04-26 15:08] Ladicek commented on #175
There's no _problem_ per se. I was just thinking it would be more friendly.

[2017-04-26 15:21] cmoulliard commented on #175
To do what ?

[2017-04-26 15:23] Ladicek commented on #175
To deploy the intended Launchpad version? When looking on the docs stage, I probably want to deploy the latest Launchpad as well, and when looking on the released docs, I want to deploy the released Launchpad.

Anyway, I realize this is offtopic to the original issue. Probably should have never started with this idea :-)

[2017-04-26 16:19] rhoads-zach commented on #175
@cmoulliard @Ladicek @SlavoKrupa

Current script uses "V4" which fails by default. Does this need to be changed?

[2017-04-26 16:20] Ladicek commented on #187
Oh, one clarification: I don't really care what word appears on the beginning of the line. `ruby` certainly looks weird for a shell script, but I'd very much prefer if it didn't happen at all. Sorry if that was obvious, I figured I'd rather clarify :-)

[2017-04-26 16:21] Ladicek commented on #175
`v4` will be released on Friday I think, but for now, indeed it fails.

[2017-04-26 16:22] gastaldi commented on #175
A suggestion would be to use `next` instead (see @ALRubinger email)

[2017-04-26 16:22] cmoulliard commented on #175
ou can pass the version to be used as defined here --> https://github.com/openshiftio/appdev-documentation/blob/master/scripts/deploy_launchpad_mission.sh#L11

[2017-04-26 17:34] ALRubinger opened #192 "Content edits from DevTools review"

[2017-04-26 17:34] #192 closed

[2017-04-26 18:22] cmoulliard commented on #164
I agree with you John as CRUD is the name of a pattern & not really representative of what we want to do. I propose as mission name which should be "Database persistence using JPA", "Database connection with JDBC", ...

[2017-04-26 18:29] SlavoKrupa commented on #175
Original purpose of the issue was about failure of the script even with correctly defined version:
[code]

Then I found out that I was using older version of `oc` client (1.3..) which brought to my attention that we do not have anywhere documented which version of `oc` client should developers use?

IIRC it was originally mentioned in the boosters readme.
@rhoads-zach Do you know whether it is men

[2017-04-26 18:31] rdruss opened #196 "Inconsistent font sizing on "Getting Started Guide""
Looking at the guide here: http://appdev-stage.openshift.io/docs/getting-started.html shows an inconsistency between the font size of the first paragraph and the rest of the page.

[2017-04-26 18:33] SlavoKrupa commented on #175
And one more thing about the script:
`Replace edit role with admin in order to allow the jenkins serviceaccount to by example create rolebindings, ...`
 @cmoulliard is this still necessary ? Or shall I create new issue for this?

[2017-04-27 07:50] cmoulliard opened #199 "Document how to boost pipeline on minishift & persist pod .m2/repository"
1. Add cluster role to developer user

[code]

2. Create folder and change permissions

[code]

remark: The permissions aren't saved between minishift stop/start and it will be required to reissue the request when you will restart minishift

3. Create a PV to mount the volume /var/lib/maven

[code]

4. Build the Docker Jenkins image modified to mount pvc to the podTemplate

Modification : https://

[2017-04-27 08:31] quintesse commented on #199
Very interesting @cmoulliard , but could you explain to me what steps 2 and 3 are for? I haven't been able to figure it out :)

[2017-04-27 08:46] cmoulliard commented on #199
Step 2) refers to the folder to be created within the VM created by minishift which is the host where we would like to backup the maven repository populated by the jenkins slave launch pod

Step 3) will tell to OpenShift to create a PersistentVolume between the host (= Minishift VM) and the pod when a pod will claim persistence through a PersistentVolumeClaim resource

[2017-04-27 08:55] quintesse commented on #199
But why is Step 2 necessary? Is it because Minishift doesn't come with PVs already configured or something?

And why is Step 3 necessary when in Step 6 you again create a PV?

[2017-04-27 09:01] cmoulliard commented on #199
Yes. There is no PersistentVolume created out of the box within the VM of Minishift. OSO should come up with NFS shares

Be careful. Step 3) will create a PersistentVolume while step 6) the PersistentVolumeCaim. PV and PVC are not the [same] !!(https://docs.openshift.com/enterprise/3.1/dev_guide/persistent_volumes.html)

[2017-04-27 09:05] cmoulliard opened #200 "Remove jenkins patch command from the script"
As the missioncontrol has been patched with this [modification](https://github.com/cmoulliard/launchpad-missioncontrol/commit/64ab988745280077ea11013be367d48268918537) to assign the role `admin` to the jenkins serviceaccount when a project will be created, it is not required anymore to have the oc patch line within the script

[code]

[2017-04-27 09:15] quintesse commented on #199
Ah! Thanks for the explanation @cmoulliard , All is clear now.

[2017-04-27 10:04] #200 closed

[2017-04-27 10:20] gytis opened #202 "CRUD mission response example shouldn't have 'stock'"
CRUD mission docs show 'stock' entries in an example response [1]. However, this is only implemented in Vert.x [2]. Spring Boot [3] nor WildFly Swarm [4] don't have it and it's not in the spec [5].

[1] http://appdev.openshift.io/docs/mission-crud-spring-boot-tomcat.html#common-crud-database-interaction
[2] https://github.com/openshiftio-vertx-boosters/vertx-crud-booster/blob/master/src/main/java/

[2017-04-27 11:16] SlavoKrupa commented on #202
I agree that having  `stock` attribute is not mandatory so it *probably* should not be in docs.

On the other hand, it is not forbidden and Vert.x still match spec.

[2017-04-27 11:20] gytis commented on #202
I agree that it's ok to have it in Vert.x as long as all the operations from the docs would work and docs are consistent. E.g. GET /api/fruits/3 shows an object with id, name and stock, but GET /api/fruits/4 (after creating an apple) only shows an entry with id and name.

[2017-04-27 12:40] #168 closed

[2017-04-27 12:42] rhoads-zach commented on #202
@inoxx03 can you take a look at this?

[2017-04-27 17:54] #167 closed

[2017-04-27 17:55] #202 closed

[2017-04-27 18:01] rhoads-zach commented on #175
@SlavoKrupa mind taking a look at #207?

[2017-04-28 12:14] inoxx03 opened #212 "Example partial URL's should not be rendered as clickable links"
Partial example URLs in the Getting Started guide  are rendered as clickable links.
These URLs are not supposed to work, so clicking on them only gives you a `Page Not Found` browser screen.
Not a big problem, but it only takes a simple markup fix to solve.
And it would be nice not to have developers click them by mistake and navigate to an error page, which could be distracting.

Instead of this:

[2017-04-28 14:59] #196 closed

[2017-04-28 15:19] #187 closed

[2017-04-28 19:41] starksm64 commented on #188
I can do that, but then the actual mission guide html name should be:

GUIDE_HTML_NAME=mission-secured-spring-boot-tomcat.html

and this would require an update of the https://github.com/snowdrop/spring-boot-http-secured-booster/blob/master/README.md booster in order to correct the link it has to the mission docs.

Is there a way to have a legacy redirect from http://appdev.openshift.io/docs/missi

[2017-04-28 22:08] ALRubinger opened #213 "Copy Edits to Deployment Type page"
"Create a new GitHub repository in your namespace containing the mission’s code" >
"Create a new GitHub repository in your namespace containing your new project's code"

"Create a pipeline to continuously deliver your mission’s code on each push to your repository’s master branch" >
"Create a pipeline to continuously deliver the code on each push to your repository’s master branch"

"The pipeline

[2017-04-28 22:21] ALRubinger opened #214 "Copy Edits to Runtime page"
"Runtime project frameworks are preconfigured project scaffolds you can use to build your own project. {launcher} provides a simple interface for choosing your dependencies and runtime and creating a complete project scaffold with everything configured. This enables you to rapidly create and deploy cloud native applications."

"We offer a choice of runtime frameworks to best fit your needs.  WildF

[2017-04-28 22:38] ALRubinger opened #215 "Copy Edits to Launch Status"
Update:

  https://github.com/openshiftio/appdev-documentation/tree/master/docs/topics/frontend

[2017-04-29 05:05] #213 closed

[2017-04-29 05:07] #214 closed

[2017-04-29 06:41] #215 closed

[2017-04-29 18:30] ALRubinger opened #216 "Copy changes for docs home"
Evolve from template in #211

[2017-04-29 22:48] ALRubinger opened #217 "Release Train v4"

[2017-04-29 22:52] #217 closed

[2017-04-30 00:51] ALRubinger opened #218 "Update design of docs home"
Bring current.

Located:  https://raw.githubusercontent.com/openshiftio/appdev-documentation/master/docs/landing-page/master.adoc

[2017-04-30 02:29] #218 closed

[2017-04-30 14:05] ALRubinger opened #219 "Fix copyright symbol in footer"
Use HTML entity `&copy;`

[2017-04-30 14:05] #219 closed

[2017-05-01 06:32] #174 closed

[2017-05-03 14:55] rdruss opened #220 "REST Level 0 or API Level 0 ... you decide"
Ok, we need to decide whether the mission will be called "REST Level 0" or "API Level 0" as there is inconsistency between launch.openshift.io and the documentation as well as within the documentation itself.  You can search on either title and find results in the docs repo.

[2017-05-05 08:35] cmoulliard opened #221 "Mention that webhook added within the git created project is not accessible from internet"
Maybe one should mention within the launch manual that GitHub webhook for triggering builds obviously doesn't work as they aren't reachable from the internet

<img width="1354" alt="screenshot 2017-05-05 10 34 25" src="https://cloud.githubusercontent.com/assets/463790/25738646/878ec144-317e-11e7-983f-e9da4051ae11.png">

[2017-05-05 20:12] rdruss opened #222 "Document messages from Health Check"
![hc messages](https://cloud.githubusercontent.com/assets/367748/25762577/8156c8c6-319c-11e7-8bf1-8bc1bb55afb1.png)

That attached image shows the messages generated in OpenShift when the "Kill Me" button is pushed in the Health Check mission.  It may be useful to document these as expected.

[2017-05-09 00:45] jclingan opened #223 "deploy_launchpad_mission.sh consistently fails"
I run the following targeting minishift beta5 ...

`deploy_launchpad_mission.sh -p launchpad -i developer:developer -g jclingan:GITHUB_TOKEN_NOT_SHOWN`

... and I receive the following error:

[code]

Following the manual instructions work as expected. Thoughts?

[2017-05-09 00:48] ALRubinger commented on #223
@cmoulliard Mind investigating?  And do we have a process to check that the script continues to work as the upstream components may be in flux?  Some CI plan for this?

[2017-05-09 07:38] cmoulliard opened #224 "Procedure to use Nexus with launchpad mission"
Here is a procedure describing how to setup Nexus and using OCP 1.6 assign an ENV var to pass the MAVEN_MIRROR_URL to be used to fetch the artifacts using Nexus

Remark : You can use launchpad to create a demo project instead of using the steps oc create is,  oc create bc and oc new-app --template=jenkins-persistent as described hereafter

[code]

[2017-05-09 10:41] cmoulliard commented on #223
@jclingan @ALRubinger Christophe Laprun as also reported this error which took place when the oc client (= the one that we use on the laptop) is too different from the version of kubernetes/openshift running on Minishift

Error
[code]

Upgrading the oc client on the laptop resolved the issue for Christophe

[2017-05-09 15:13] inoxx03 commented on #212
fixed in #225

[2017-05-09 17:01] rdruss commented on #223
We should probably document that somewhere.

On Tue, May 9, 2017 at 6:41 AM, Charles Moulliard <notifications@github.com>
wrote:

[2017-05-09 18:20] jclingan commented on #223
@cmoulliard Upgrading oc client worked. Thanks for tip. +1 on @rhoads-zach adding oc client version requirement iin the guide (if it is not already there).

[2017-05-09 18:35] ALRubinger opened #226 "Installation on CDK"
Just as we have "Installation on Minishift", we'll need "Installation on CDK".  There will be a lot of overlap, but some important differences, so the chunked content approach will likely help us a lot here.

@ALRubinger can adapt instructions from https://developers.redhat.com/blog/2017/02/28/using-red-hat-container-development-kit-3-beta/ to make this work if we get the scaffolding for the new d

[2017-05-09 18:45] rhoads-zach commented on #223
@cmoulliard @jclingan @rdruss

We have a callout here:
http://appdev-stage.openshift.io/docs/minishift-installation.html#_prerequisite_install_minishift

The link takes you to the minishift docs and details how to use the oc version installed by minishift.

Do you need the callout updated? If not, do you mind closing this issue?

[2017-05-09 19:13] cmoulliard commented on #223
We need a sentence where we explain to the user that the oc client version
installed on the laptop must be aligned with the openshift version of the
server where it will be connected.

According to the doc, the oc client version can be find here -
https://www.dropbox.com/s/z6jx9bymxh9cy6u/Screenshot%202017-05-09%2021.03.27.png?dl=0

See the info below of the web screen -> amazon

On Tue, May 9, 20

[2017-05-09 19:31] cmoulliard commented on #226
@ALRubinger We could mention within the doc that CDK includes :
- The Centos/RHEL iso image used to create the VM,
- The OpenShift oc client
BUT it requires a Red Hat subscription (still need to figure out the benefit)

[2017-05-09 20:03] ALRubinger commented on #226
@cmoulliard The subscription is a 0-cost one through the Developer Program, but still needs to be specified in `--username` and `--password` flags on CDK boot (`minishift start`)

[2017-05-09 21:13] ALRubinger commented on #223
Why not use the `oc` client that comes with Minishift or the CDK?

[2017-05-11 09:40] #212 closed

[2017-05-11 12:37] inoxx03 commented on #222
additional enhancements in PR #232

[2017-05-11 16:43] inoxx03 commented on #163
fixed in PR #233

[2017-05-11 16:50] inoxx03 commented on #163
Context: The icon sizing problem seems to occur when using the foundation.css style sheet, where the font size has been set globally for all icons to 2.5em. This however, ignored the admonition block classes (for example ".admonitionblock td.icon .icon-note:before") , where the icon size remained default and, therefore, too small.
I've managed to work around this by setting the font size _individu

[2017-05-12 09:49] #222 closed

[2017-05-12 12:57] inoxx03 commented on #163
![icon_size_fixed](https://cloud.githubusercontent.com/assets/17914654/25998881/3732ca56-3723-11e7-97a9-15996d59f057.png)

The icons are currently rendered as seen above:

[2017-05-15 14:00] inoxx03 opened #235 "Update the implementation status of Missions on wiki title page"
The implementation status for some of the missions on the [Wiki title page](https://github.com/openshiftio/appdev-documentation/wiki) is out of date and needs to be updated.

[2017-05-16 16:46] inoxx03 opened #236 "Normalize the format of the Secured SSO Booster Guides"
The documentation for Secured SSO Boosters has different formatting compared to the rest of the booster guides. We should clean up the formatting so that it fits in  stylistically with the remaining guides.

[2017-05-16 21:05] rhoads-zach commented on #163
@inoxx03 should this still be open?

[2017-05-17 09:05] Ladicek commented on #220
"API Level 0" doesn't make sense to me, the term "API" is way broader than just RESTful APIs. The linked commit seems to use "REST API Level 0" which I wholeheartedly agree with.

[2017-05-17 09:53] inoxx03 commented on #163
@rhoads-zach I'm sure this has been fixed already. in PR #233. No need to keep it open.  Closing.

[2017-05-17 09:53] #163 closed

[2017-05-17 13:40] inoxx03 commented on #224
This procedure does not work on CDK version 3.0.0: when I tested it using CDK, there was an authentication issue while logging into the Jenkins instance.
Also, the `infra` project containing the Nexus instance did not show up on the web console when created, but it did show up using `oc get projects` on the terminal.

[2017-05-17 14:21] ALRubinger opened #239 "Create Contribution Guide for Documentation"
Should contain all information needed to bootstrap internal and external contributors to:

launch.openshift.io development
Filing issues
Filing documentation issues
Links to upstream runtime project development

[2017-05-17 14:55] ALRubinger commented on #239
First sending to @rhoads-zach for some scaffolding, then I can take over and we can all put into it :)

[2017-05-17 15:03] rhoads-zach commented on #239
@ALRubinger consider how you would like to differentiate it with the contributing section here:
https://github.com/openshiftio/appdev-documentation/blob/master/README.adoc

[2017-05-17 16:18] ALRubinger opened #240 "Create Guide: Breaking Down the Boosters"
Explain, in the context of an example Booster, what is being set up for a user (so they might manually create a project on their own)

* pom.xml elements
* Relevant application code
* fabric8-maven-plugin config

[2017-05-17 20:59] rhoads-zach commented on #226
@inoxx03 i'll take this on my plate.

[2017-05-18 13:14] inoxx03 commented on #226
@rhoads-zach np, Thanks:)

[2017-05-18 17:23] #220 closed

[2017-05-18 17:23] #221 closed

[2017-05-18 18:58] ALRubinger opened #243 "Document: The Developer Journey"
Write up our value-add!

The general story arc takes a new developer from nothing into CD, with explanations behind:
* Building and deploying locally on host
* Building locally on host, baking and deploying on local cloud
* Building and deploying on OSO

Should be told as a story in easily-consumable manner - the website version of a conference talk

RHT internal reference: https://issues.jboss.or

[2017-05-18 19:17] rdruss commented on #243
How about debugging and testing to complete the story?

[2017-05-19 08:27] ALRubinger commented on #243
@rdruss Definitely.  Unfortunately we don't yet have the tech to support testing in the running OS environment yet.  That's under dev alongside the ARQ team.

[2017-05-19 13:47] Ladicek commented on #240
I think we should have this for users to understand the booster structure, how it works. But I don't think we should expect users to deconstruct a booster in order to start from scratch.

[2017-05-19 20:34] #226 closed

[2017-05-21 04:57] rdruss commented on #240
I agree​ with with Ladislav.  The explanation of the booster components is important but does not fill the "from scratch" need.

[2017-05-22 11:35] rdruss commented on #243
@ALRubinger what about how we are currently testing the boosters?  Is the plan to release 1.0.0.GA without a recommendation for testing?

[2017-05-22 15:33] inoxx03 commented on #224
please see PR #245

[2017-05-22 16:42] ALRubinger commented on #243
@rdruss IMO it'd be a shame if we were somehow forced to do that, or release hacks.  Some teams are still bullish on the OpenShiftTestAssistant, and I'm still holding out that we continue to align with ARQ.

[2017-05-24 16:09] inoxx03 commented on #236
@starksm64 What is the current status of the Secured SSO booster? I'd like to update the Booster status info on the Wiki page.

[2017-05-24 16:37] inoxx03 commented on #224
For reference: https://docs.openshift.com/container-platform/3.4/dev_guide/app_tutorials/maven_tutorial.html#nexus-setting-up-nexus

[2017-05-25 16:11] inoxx03 opened #249 "Document the S2i Build process"
Breakdown of the S2i build proces
 in Openshif Docs: https://docs.openshift.com/enterprise/3.0/creating_images/s2i.html#creating-images-s2i

[2017-05-26 18:27] rhoads-zach commented on #150
@cmoulliard did you already do this for vert.x?

[2017-06-01 07:27] cmoulliard opened #252 "Missing missions - Appendices"
It looks like that some missions (ConfigMap for all the runtimes) are missing within the appendices of the doc

![screenshot 2017-06-01 09 25 22](https://cloud.githubusercontent.com/assets/463790/26668997/78270142-46ac-11e7-83d7-2666110cda01.png)

[2017-06-01 20:54] rhoads-zach commented on #223
@cmoulliard i issued another PR to add the `minishift oc-env` command for minishift only. CDK automatically updates your path.  Let me know what you think.

[2017-06-02 21:41] #223 closed

[2017-06-06 12:05] inoxx03 commented on #224
fixed in PR #245

[2017-06-06 12:05] #224 closed

[2017-06-06 15:51] cmoulliard commented on #199
As minishift supports natively `PersistentVolume`, steps 1) and 2) could be removed

[2017-06-06 21:07] rhoads-zach commented on #33
@ALRubinger Closing this for now. Please re-open if you need any more updates.

[2017-06-06 21:07] #33 closed

[2017-06-06 21:07] rhoads-zach commented on #38
@ALRubinger @starksm64 closing this for now. Please re-open if you need any more changes.

[2017-06-06 21:07] #38 closed

[2017-06-06 21:09] rhoads-zach commented on #39
@starksm64 @ALRubinger closing for now, please re-open if you have any changes.

[2017-06-06 21:09] #39 closed

[2017-06-06 21:13] rhoads-zach commented on #150
@gytis @cescoffier @cmoulliard @heiko-braun

Here are the current mission names i have in the docs:

REST API Level 0 Mission
ConfigMap Mission
CRUD Mission
Health Check Mission

Is there any more work on normalizing them across the boosters or can i close this?

[2017-06-06 21:14] rhoads-zach commented on #164
@inoxx03 are you still working on this or can this issue be closed?

[2017-06-06 21:17] rhoads-zach commented on #175
@SlavoKrupa We have a clear callout about the correct `oc` version in the docs:
http://appdev-stage.openshift.io/docs/minishift-installation.html#_prerequisite_install_a_single_node_openshift_cluster

Closing for now. Please re-open if theres more work to be done on this.

[2017-06-06 21:17] #175 closed

[2017-06-06 21:17] rhoads-zach commented on #185
@edewit do you mind adding this to your queue?

[2017-06-06 21:22] rhoads-zach commented on #188
All Spring Boot missions now located here:
http://appdev.openshift.io/docs/spring-boot-runtime.html

[2017-06-06 21:22] #188 closed

[2017-06-06 21:23] rhoads-zach commented on #216
@ALRubinger I'm unclear about what this issue is. Do you mind updating the status of this?

[2017-06-06 21:24] rhoads-zach commented on #235
@inoxx03 are you still working on this or can it be closed?

[2017-06-06 21:25] rhoads-zach commented on #236
fixed here: https://github.com/openshiftio/appdev-documentation/pull/255

[2017-06-06 21:25] #236 closed

[2017-06-06 21:25] rhoads-zach commented on #239
@ALRubinger scaffolding is done so re-assiging to you.

[2017-06-06 21:30] rhoads-zach commented on #240
@Ladicek @rdruss @ALRubinger

Re: "from scratch" we have this section in each dev guide: http://appdev-stage.openshift.io/docs/wf-swarm-runtime.html#_creating_an_application_from_scratch

Do you feel like it makes sense to document the specific pom of each booster and do a "from scratch" explanation? Or just one of the two?

[2017-06-06 21:48] rhoads-zach commented on #243
@ALRubinger @rdruss

Do you want this "from scratch" or using an existing booster/mission?

If you want this "from scratch" then #240 is a blocker.

[2017-06-07 06:23] Ladicek commented on #240
Personally, I think "creating an application from scratch" is more important than "breaking down a booster". I guess we want to have both, but if I personally had to choose one of the two, I'd choose "creating an application from scratch".

[2017-06-07 06:25] Ladicek commented on #243
I'm not sure I understand this correctly, but IMHO, this could be based on one of the boosters (preferrably the least complex one).

[2017-06-07 10:02] inoxx03 commented on #235
@rhoads-zach I updated the Wiki title page  to include the Circuit Breaker, Documentation Site and Secured SSO Missions.
I'll close this issue now

[https://github.com/openshiftio/appdev-documentation/wiki](Wiki Title Page)

[2017-06-07 10:02] #235 closed

[2017-06-07 10:04] inoxx03 opened #258 "Create Wiki Page for the Secured SSO Mission"
Wiki Page [link](https://github.com/openshiftio/appdev-documentation/wiki/Mission:-Secured-HTTP-API)

[2017-06-07 11:51] inoxx03 commented on #164
@rhoads-zach TBH, I thought we've deprioritized this, so I have not made any changes based on this issue. Please leave it open for now.

[2017-06-07 13:36] #185 closed

[2017-06-07 14:49] inoxx03 commented on #249
Fixed in PR #260.

[2017-06-07 15:08] inoxx03 commented on #24
@ALRubinger Maybe we could point users to the (Red Hat Development Suite)[https://developers.redhat.com/products/devsuite/overview/] installer.

[2017-06-07 15:12] rhoads-zach commented on #24
@inoxx03 and @ALRubinger

We do have this:
http://appdev-stage.openshift.io/docs/minishift-installation.html#_install_the_red_hat_container_development_kit

[2017-06-07 15:16] inoxx03 commented on #164
@jclingan @cmoulliard @edewit @gastaldi Out of the alternatives proposed above I personally favor `Database Backend` as the new name for the CRUD Mission. If you have any other name suggestions, please let me know, but I'm OK with renaming the Mission to 'Database Backend'.

[2017-06-07 15:28] gastaldi commented on #164
`Database Backend` looks good, but should we specify that it means RDBMS and not NoSQL databases?

[2017-06-07 16:37] #249 closed

[2017-06-08 06:49] Ladicek commented on #164
The word "backend" seems quite overloaded to me. Maybe I'd use just "SQL Database", but I guess "Database Backend" is good as well.

[2017-06-08 09:34] inoxx03 commented on #164
@Ladicek How about "Relational Database" (or "Relational Database Backend" if we want to be more explicit)?

[2017-06-08 09:50] Ladicek commented on #164
I have my personal opinions about the word "relational", but to the rest of the world, SQL == relational, so "Relational Database [Backend]" is OK as well.

[2017-06-08 10:00] SlavoKrupa commented on #164
I think that **Backend** word is critical. Otherwise, it suggests a database without application connected to that database.

[2017-06-08 10:03] Ladicek commented on #164
Fine with me (but I still think the word backend is quite overloaded :-) ).

[2017-06-08 10:34] inoxx03 commented on #164
OK, "Relational Database Backend" it is, then. Thanks, guys:)

[2017-06-08 11:10] inoxx03 commented on #164
Fixed in PR #263 .

[2017-06-08 20:02] rhoads-zach commented on #150
Closing. Please re-open if there is more work needed

[2017-06-08 20:02] #150 closed

[2017-06-09 04:46] cmoulliard opened #268 "Asciidoctor typo error - manual install minishift and nexus"
The nexus install manual contains an asciidoctor syntax error

<img width="1356" alt="screenshot 2017-06-09 06 44 39" src="https://user-images.githubusercontent.com/463790/26961476-3bf62282-4cdf-11e7-90e2-4d2dc7d873da.png">

[2017-06-09 14:07] inoxx03 opened #269 "Scaffold the Dev Guide Section for the Circuit Breaker Mission"

[2017-06-09 14:29] inoxx03 commented on #268
@cmoulliard Thanks fore catching this:)  Fixed in PR #270

[2017-06-09 16:11] #240 closed

[2017-06-12 09:50] #268 closed

[2017-06-12 09:52] inoxx03 commented on #164
PR merged, closing this issue now.

[2017-06-12 09:52] #164 closed

[2017-06-12 10:15] inoxx03 commented on #268
PR merged, closing this issue now.

[2017-06-12 12:44] inoxx03 commented on #252
@cmoulliard @rhoads-zach It seems that this is no longer an issue now that we have per-runtime Developer Guides instead of a common Getting Started Guide. Closing.

[2017-06-12 13:16] inoxx03 commented on #252
My mistake, I see that the appendix section has been retained for now. Reopening. Going to updated the section and file a PR

[2017-06-12 16:36] inoxx03 commented on #252
fixed in PR #273

[2017-06-12 18:22] #252 closed

[2017-06-14 20:24] rhoads-zach commented on #243
@Ladicek @ALRubinger @rdruss

My first pass at addressing this can be seen here:
http://appdev-stage.openshift.io/docs/getting-started.html

Let me know what you think.

[2017-06-14 20:50] rhoads-zach commented on #24
Since we link off the the install guides which do separate by platform, i'm closing this.

FYI @ALRubinger @inoxx03

[2017-06-14 20:50] #24 closed

[2017-06-15 05:19] Ladicek opened #277 ""Deploy Using the oc CLI Client" sections assume a local clone of the booster"
The "Deploy Using the oc CLI Client" sections inside "Build and Deploy Your Booster" chapters implicitly assume that the user has the booster project locally -- either cloned from GitHub or maybe unzipped from launcher. This should be made explicit. If there's a section in the documentation that details this, a link to it will be sufficient.

The only exception are the Secured boosters, where the

[2017-06-15 06:34] Ladicek commented on #243
I only took a cursory look, but it looks good! Two ideas:

- One can also do the CI/CD flow on local Minishift, which allows for easier experimenting.
- The text doesn't really describe how the CI/CD flow works under the hood. It probably doesn't belong to this guide, but we should have a description somewhere. Maybe a link to OpenShift docs, if we think this isn't appropriate to RHOAR docs, but I

[2017-06-15 09:51] inoxx03 commented on #269
Fixed in PR #271
PR Merged, Closing this issue.

[2017-06-15 09:51] #269 closed

[2017-06-15 09:55] inoxx03 opened #278 "Bump Minishift version from `1.0.0-Beta5` to `1.1.0` and `oc version` to `1.5.1` in the Minishift Install Guide"
bump the version here: http://appdev.openshift.io/docs/minishift-installation.html#_prerequisite_install_minishift

[2017-06-15 09:56] inoxx03 opened #279 "Add instructions to the Circuit Breaker section of the Dev Guides"
Resolved by PR #290

[2017-06-15 12:09] inoxx03 commented on #278
Fixed in PR #280

[2017-06-15 15:56] inoxx03 opened #281 "Fix example URL in manual minishift install section"
The following topic contains a slightly misleading URL example which would benefit from being adjusted for accuracy:

[Install launch.openshift.io Manually](appdev-documentation/docs/topics/minishift-install-create-launchpad-app.adoc)

Also, it would be good to make the example URL non-clickable, because essentially, it's a dead link.

Context: I realized this while trying to deploy launch.openshi

[2017-06-15 16:04] inoxx03 commented on #281
fixed in #282

[2017-06-15 18:45] #278 closed

[2017-06-15 18:51] #281 closed

[2017-06-15 19:11] rhoads-zach opened #283 "Describe Build and Deploy process in more detail"
GSG doesn't really describe how the CI/CD flow works under the hood. It probably doesn't belong to this guide, but we should have a description somewhere. Maybe a link to OpenShift docs, if we think this isn't appropriate to RHOAR docs, but I guess that we want to have a short chapter on this (our opinion on how to do CI/CD).

[2017-06-15 19:11] rhoads-zach commented on #243
@Ladicek thank you for the feedback, moving second bullet to its own issue: #283

[2017-06-15 20:07] rhoads-zach commented on #243
@Ladicek @jclingan Updated with your feedback in #284

[2017-06-15 20:21] rhoads-zach opened #285 "Fix appendix reference in install guide"
"Using a Nexus Repository Server" is not correctly rendered as an appendix

[2017-06-16 10:37] Ladicek commented on #283
I'm looking at it again and the first paragraph at http://appdev-stage.openshift.io/docs/getting-started.html#_continuous_delivery_using_openshift_online actually contains most of it. Maybe we could mention that:
- as part of the OSO deployment, we'll also create a pipeline build
- this pipeline build uses the `Jenkinsfile` from the booster
- this `Jenkinsfile` contains the deployment "recipe"
- a

[2017-06-16 13:34] #285 closed

[2017-06-16 16:20] Ladicek opened #288 "version number showing right under the main heading"
In #254, I added a current Git revision to the footer of each documentation page. I didn't notice, however, that it also gets added right under the main heading. I think it's OK to have it in the footer, but it looks strange on such prominent place as the main page heading. Is there a reasonble way to remove it from the heading and keep it in the footer? We probably don't want to maintain our own

[2017-06-16 20:37] #277 closed

[2017-06-19 19:51] rhoads-zach opened #291 "Update next steps in launcher"

[2017-06-21 09:41] quintesse opened #294 "Security review advises against using UltraHook"
See https://docs.google.com/document/d/1PA8y9sLddKbyYgabK2l0Fjx3dGaf3l-HlTHR_vX3MRo

Do we care about this given the fact that this isn't supposed to be used in production environments?

[2017-06-21 09:45] Ladicek commented on #294
Is there an alternative that would be OK from PST perspective? I don't know, but quick googling revealed at least https://ngrok.com/

[2017-06-21 13:50] gastaldi commented on #294
@Ladicek I don't think that changing to ngrok would make any difference, given that ultrahook also supports HTTPS URLs. Perhaps a solution in this case would be to poll instead

[2017-06-21 14:21] rhoads-zach commented on #294
@quintesse @Ladicek @gastaldi

take a look at #295. I removed references to ultrabook in the docs to address this issue. If you prefer a different approach, let me know.

[2017-06-21 14:45] quintesse commented on #294
So that comes down to removing Ultrahook in favor of just manually triggering changes yourself, right @rhoads-zach ?

[2017-06-21 15:13] rhoads-zach commented on #294
@quintesse that is what implemented in the docs since ultrabook was an "optional" step. I kept the content so we can re-add later if necessary.

[2017-06-21 20:58] rhoads-zach commented on #283
@lavernw1 or @tradej

Do either one of you want to grab this off my plate?

[2017-06-21 21:02] rhoads-zach commented on #64
@lavernw1 or @tradej would either of you like to grab this issue?

[2017-06-21 21:03] rhoads-zach commented on #142
@tradej do you mind grabbing this one?

[2017-06-21 22:08] lavernw1 commented on #283
Sure, we can discuss after meeting tomorrow. Is a new section required or just update continuous delivery topic in section 6

[2017-06-22 13:05] inoxx03 commented on #283
@lwithers If I may follow up on your question: I think it could either be a new shorter separate section, or a description paragraph that will be added  Section 6 of the GSG. Ether way, it might be a good idea to put it in a separate topic file so we can include it anywhere.

[2017-06-22 15:02] #294 closed

[2017-06-22 15:31] #279 closed

[2017-06-22 15:36] rhoads-zach opened #296 "Second pass at POM breakdown sections"
I took the first pass at the POM breakdown sections in the runtime guides:

http://appdev-stage.openshift.io/docs/wf-swarm-runtime.html#breakdown_pom
http://appdev-stage.openshift.io/docs/vertx-runtime.html#breakdown_pom
http://appdev-stage.openshift.io/docs/spring-boot-runtime.html#breakdown_pom

@inoxx03 would you mind taking a second pass at it?

[2017-06-22 17:21] rhoads-zach opened #297 "Add Testing to doc builds"

[2017-06-22 17:50] inoxx03 commented on #296
@rhoads-zach no problem, assigning this issue to myself:)

[2017-06-22 20:57] lavernw1 commented on #283
Thanks for the updates. Appreciate it.

[2017-06-23 16:18] #258 closed

[2017-06-23 16:28] inoxx03 opened #298 "Fix phrasing in the Circuit Breaker Guide"
Amend the phrasing in the circuit breaker guide based on review.
Resolved in #299

[2017-06-26 11:19] cmoulliard opened #300 "Circuit Breaker: Document how to access Hystrix Dashboard."
While the hystrix dashboard is optional, John is interested that we include it within the mission. Is it planned to include the instructions ?

[2017-06-26 12:39] inoxx03 commented on #300
Even though Hystrix Dashboard  is optional, I believe we should definitely include instructions for it.
Personally, I'd be in favor of including the Hystrix Dashboard instructions as an appendix to the CB booster guide. WDYT?

[2017-06-26 12:58] Ladicek commented on #300
Should this possibly be addressed in the booster implementations first?

[2017-06-26 13:04] cmoulliard commented on #300
I agree to keep the content under an appendix

[2017-06-26 13:20] cmoulliard commented on #300
Instructions should be similar between the missions. So why do you want to start with impl first ?

[code]

[2017-06-26 13:39] Ladicek commented on #300
If it's really this simple and doesn't require any changes in the boosters, then that's awesome :-) I simply didn't know and assumed that the boosters would have to be changed. Glad it isn't needed.

[2017-06-26 13:44] cescoffier commented on #300
Depends on the runtime, for Vert.x we need to explicitly enable the hystrix event stream.

[2017-06-26 13:55] cescoffier commented on #300
Once configured, it works.

![hystrix_monitor](https://user-images.githubusercontent.com/402301/27542552-da6c0976-5a87-11e7-928a-b0a870e1dc4e.png)

Data exposed on /metrics of the greeting service.

[2017-06-26 14:46] rhoads-zach commented on #298
closing due to #299

[2017-06-26 14:46] #298 closed

[2017-06-26 14:47] rhoads-zach opened #301 "Add additional Vert.X resources for background info in runtime guide"

[2017-06-26 15:28] rhoads-zach opened #303 "Add additional resources to Swarm Runtime Guide"
Add this:
https://github.com/wildfly-swarm/wildfly-swarm-presentations

@kenfinnigan @heiko-braun any other materials you can think of to add here:
http://appdev-stage.openshift.io/docs/wf-swarm-runtime.html#wf-swarm-additional-resources

[2017-06-26 17:52] #301 closed

[2017-06-26 18:29] rhoads-zach opened #304 "Add curl commands to SSO booster interaction"
Per conversation with @Ladicek, add interaction examples using raw `curl` commands in addition to using the provided script.

@Ladicek please provide any additional detail if i missed anything.

[2017-06-26 18:32] rhoads-zach commented on #303
also found this:
https://github.com/redhat-microservices/lab_swarm-openshift

[2017-06-26 18:36] rhoads-zach opened #305 "Add additional resources to SpringBoot Runtime Guide"
Add this to the resources for a SpringBoot Runtime Guide:
https://github.com/redhat-microservices/lab_springboot-openshift

@cmoulliard any other items to add to this section:
http://appdev-stage.openshift.io/docs/spring-boot-runtime.html#sb-tomcat-additional-resources

[2017-06-26 19:11] Ladicek commented on #304
The provided application is able to output a bash script using `curl`: `java -jar target/sso-client.jar  --outputCurlScript demo.sh`. The resulting script (`demo.sh`) has like 50 lines, but it all boils down to 2 `curl` invocations: first to obtain the token, second to access the secured application using the token.

If we were able to demonstrate this, it would IMHO clarify what's really going on

[2017-06-26 20:53] rhoads-zach opened #306 "Add legacy url redirects after runtime guide refactor"
Add redirects for old URLs generated in boosters.

For example:

http://appdev.openshift.io/docs/mission-http-api-vertx.html

to

http://appdev.openshift.io/docs/vertx-runtime.html#mission-http-api-vertx

[2017-06-27 09:08] gytis commented on #305
Links to Spring Boot and FMP docs might be useful.

[2017-06-27 09:09] metacosm commented on #305
https://docs.openshift.org/latest/architecture/index.html might be useful for beginners.

[2017-06-27 09:27] RadekKoubsky opened #307 "[Spring Boot Tomcat Runtime Guide] Appendix B"
Looking at number 8 in [Appendix B](http://appdev-stage.openshift.io/docs/spring-boot-runtime.html#breakdown_pom):
`This Maven goal is part of the Spring Boot Tomcat Maven plugin and will repackage the existing jar file that is created during the package goal.`

Actually, the goal is part of `spring-boot-maven-plugin` not Spring Boot Tomcat Maven plugin. In addition, we can explain why is the `rep

[2017-06-27 09:27] tradej commented on #142
I certainly do not.

[2017-06-27 09:27] tradej commented on #64
I'll take this.

[2017-06-28 10:32] inoxx03 commented on #307
Thanks @RadekKoubsky. I'll include this information when as part of resolving #296.

[2017-06-28 14:30] tradej opened #309 "Create a Glossary"
There may be developers reading our docs who are not familiar with some terms that we use, such as _opinionated framework, continuous delivery pipeline,_ or _reactive systems._

We should create a glossary that would explain such terms based on the expected knowledge level of the target audience.

This glossary should be shared across the whole doc set.

*Possible sub-task: Get better description

[2017-06-28 21:14] quintesse opened #311 "Update Segment tracker id in the doc footer depending on env var"
Righty now the tracker id for analytics is hard-coded, it should use the env var `LAUNCHPAD_TRACKER_SEGMENT_TOKEN` instead

[2017-06-28 22:52] #311 closed

[2017-06-29 13:55] rhoads-zach opened #314 "take an editing pass at front-end content"
review and edit topics used for display on the front end.

Currently topics created here:
#313
#308

Will continue to update this issue as new PRs are added.

[2017-06-29 13:55] rhoads-zach commented on #314
FYI @edewit can you add your PRs to this list as you create new topics so we can track what needs a second editing pass?

[2017-06-29 13:59] edewit commented on #314
Those 2 now listed come from the boosters, index.html we are going to have a process in place to merge these with the code and create PRs automatically.

[2017-06-29 18:10] rhoads-zach opened #317 "Provide better info in the following README templates"
Currently, these are pretty minimal:

docs/topics/crud-README.adoc
docs/topics/configmap-README.adoc
docs/topics/health-check-README.adoc
docs/topics/circuit-breaker-README.adoc
docs/topics/rest-http-secured-README.adoc

Update with better details on FMP deploy and interaction

[2017-06-30 13:25] tradej opened #318 "Use modular templates from the Modular Docs Initiative"
As I can see, our doc set—albeit modularised—does not follow the [Modular Docs Initiative guidelines](https://url.corp.redhat.com/891ce40) (Internal link) on how to author modular content, especially the templates, and having one module as a self-contained piece of information that makes sense on its own (as an example of a file that is not that, see `$REPO_HOME/docs/topics/health-check-mission-ba

[2017-06-30 17:52] ALRubinger commented on #142
So @tradej the line in question is here:

`private static final String LAUNCHER_TEMPLATE_LATEST_URL = "https://raw.githubusercontent.com/openshiftio/launchpad-templates/v4/openshift/launchpad-template.yaml";`

...in `./ci/openshiftio-appdev-docs/src/main/java/io/openshift/appdev/documentation/builder/HttpApplication.java`

We'd like to fix this such that the URL there is externalized by some mecha

[2017-07-03 11:27] kenfinnigan commented on #303
That's all we have

[2017-07-03 12:36] inoxx03 opened #325 "Add a Required infrastructure Component Versions Section to the Release Notes."
IMHO it would be helpful if we included a common resource prerequisites topic with our docs, as it would provide a one-stop section that RHOAR users can reference to check whether they have the right version of JDK and Maven installed before they even start using RHOAR and the Launcher.

I know we used to have a section like that I an ancient version version of our docs, so I'm attaching a screens

[2017-07-03 14:57] edewit opened #326 "Documentation sync"
We've created a process that can update ( by creating PR's on the effected boosters ) all we need is adding this as a webhook on PR's. The address of the deployed service is:
[code]

[2017-07-03 15:10] inoxx03 commented on #300
reference: http://vertx.io/docs/vertx-circuit-breaker/java/

[2017-07-04 09:49] tradej commented on #325
+1

[2017-07-04 10:20] cmoulliard commented on #64
We could start by defining 3 levels; foundational*, advanced and expert

* : The Foundation level is the entry level certification which offers you a general awareness of the key elements, concepts and terminology used

Nevertheless, there is a point that we should debate before to assign a level to a mission as we should provide a definition between the different levels and what they are supposed

[2017-07-04 10:51] tradej opened #328 "Tag commit when pushing to production"
I suggest we use tag the last commit on the `production` branch every time we push the docs into production.

In my previous teams, we would always tag the commit that the production deployment was based on for reference. It came handy on a few occasions, namely when we needed to rollback to the previous
working state, or when we wanted to checkout a specific file from the last deployment.

WDYT?

[2017-07-04 11:02] Ladicek commented on #328
For QE reasons, I added the Git revision number to the rendered docs form. That's somewhat problematic because of #288, but I'd very much like to keep that. If we had human-readable tags, we could instead use the tag names for the version string, which would be nice and eliminate #288 (I think).

[2017-07-04 11:16] tradej commented on #328
@Ladicek Are you solving the same problem, though?

You add the revision number during the build, but once the production environment is overwritten, there is no easy way to find out what the previous build was, or is there?

[2017-07-04 11:21] Ladicek commented on #328
No, it's not a solution for the same problem, but it's a nice complement. I probably wanted to say -- I'm in favor of this idea, and I'd immediately use the tags as version numbers.

[2017-07-04 12:15] tradej commented on #328
Oh, I see, I misunderstood. Yes, we can absolutely use these solutions in tandem. Let's wait for @rhoads-zach's opinion.

[2017-07-04 15:57] inoxx03 commented on #307
Resolved in PR #315

[2017-07-04 15:57] inoxx03 commented on #300
Resolved in PR #329

[2017-07-05 09:15] cmoulliard opened #330 "Wrong output - Instruction for secured mission"
The instruction to get the SSO URL reports incorrect info

see manual - http://appdev-stage.openshift.io/docs/spring-boot-runtime.html#mission-secured-spring-boot

[code]

while in fact the content should be

[code]

as we haven't yet deployed the application; spring boot, vert.x or swarm

REMAR: We should remove `e8ca.engint.openshiftapps.com` or  `192.168.64.2.nip.io` from the URL of the doc and

[2017-07-05 18:03] #296 closed

[2017-07-05 18:03] #307 closed

[2017-07-05 19:13] rhoads-zach opened #332 "Update SSO Missions with instructions for using index.html with booster"
Update the SSO booster in each runtime with steps to use the index.html for interaction (ie. interaction section to use the included index.html page when available)
See info in related Jira ticket for the index.html change: https://issues.jboss.org/browse/OBST-304

[2017-07-05 19:17] rhoads-zach commented on #326
@edewit added here:
https://github.com/openshiftio/appdev-documentation/settings/hooks/14756617

How do i test it?

[2017-07-05 19:20] gastaldi commented on #326
@rhoads-zach change `docs/topics/rest-level-0-mission-intro-paragraph.adoc` and if that works we should see a PR in the rest-http boosters

[2017-07-05 20:14] rhoads-zach commented on #328
@tradej so this tag would exist in this repo and so we could essentially see every version we push to prod, correct?

[2017-07-05 21:08] rhoads-zach opened #334 "Update version to v5 in launcher application installer"
Launcher installer uses v4:
http://appdev-stage.openshift.io/docs/minishift-installation.html#create-launcher-app-script

Updated this to v5

[2017-07-07 14:28] rhoads-zach commented on #334
@lavernw1 do you want to take this one?

[2017-07-07 15:44] #300 closed

[2017-07-07 20:48] gastaldi opened #335 "Remove references to Catalog Index Period parameter in the template"
This parameter was removed in v5

[2017-07-10 08:06] tradej commented on #328
@rhoads-zach Yes. I would say "...every version we *have pushed*...", but that's semantics. These are normal Git tags, so they're saved in `.git`, and work everywhere. `man git tag` has all the info. To view tags on GH, hit the  **Branch** button in the code view of the repo, and select the **Tags** tab (so far, we have none).

[2017-07-10 15:41] #142 closed

[2017-07-10 15:54] rhoads-zach commented on #328
Sure, i'm fine with creating tags for our releases.

@ALRubinger do you have any feelings about tag format?

my thoughts:
* 2017.07.10 - Release
* 2017.Release1
* v2017.x

Other ideas?

[2017-07-10 16:13] #335 closed

[2017-07-10 16:15] rhoads-zach opened #337 "Consider adding code owners to project"
https://github.com/blog/2392-introducing-code-owners

[2017-07-10 16:40] tradej commented on #328
In BxMS, we have used `$VERSION_rel_$DATE` (ISO format) as we publish basically on any day we want, so for example the release of version 6.4 on Feb 17 was tagged `6.4_rel_2017-02-17`. This is also convenient for versioning the docs because we only use timestamps now, so both the Git tag and the timestamp in the docs point to the same day.

[2017-07-10 17:09] Ladicek commented on #328
AFAIK we don't even have version numbers for RHOAR, or at least not public ones. Sure we could invent special versioning scheme just for documentation, but for me, anything human-readable would work. Even an ISO timestamp.

[2017-07-10 19:33] rhoads-zach commented on #291
some work for this done in #324

[2017-07-11 08:55] tradej commented on #328
If that's the case, +1 to ISO timestamp.

[2017-07-11 13:54] tradej commented on #297
I have a few ideas that I will need to go over, but I am reasonably sure we can come up with a meaningful test suite with the existing infrastructure.

[2017-07-11 16:51] #314 closed

[2017-07-11 19:53] rhoads-zach commented on #328
So the current version of the docs does have _both_ a date and a GH hash (at the bottom):
http://appdev-stage.openshift.io/docs

Would you want to combine those to something like: `$HASH_rel_$DATE`.

e.g.: `0cec512f42_rel_2017-07-11`

[2017-07-12 05:07] cmoulliard opened #339 "Is this wording appropriate "Single-node OpenShift Cluster" ?"
The documentation uses in many place `Single-node OpenShift Cluster`

<img width="1002" alt="screenshot 2017-07-12 06 59 22" src="https://user-images.githubusercontent.com/463790/28102514-0243d074-66d0-11e7-82df-0c4514fc24f9.png">

Is the wording used appropriate ? For local or even remote instances, OpenShift is not deployed in a cluster mode anymore according to this description [1]. To avoid to

[2017-07-12 05:28] cmoulliard opened #340 "Redundant chapters for "Push Changes to ...""
**1. Redundant chapters**

The following chapters are redundant :
- http://appdev-stage.openshift.io/docs/getting-started.html#_push_changes_to_a_single_node_openshift_cluster
- http://appdev-stage.openshift.io/docs/getting-started.html#_push_changes_to_openshift_online

The process to build/deploy a project using openshift running on your machine or in the cloud as they both require to be first l

[2017-07-12 08:21] tradej commented on #328
If you're asking me, I think it's not necessary. You can easily search by commit hashes already, and the tag is there merely so that we have a pointer to the date.

Furthermore, if we decided later to use `$VERSION_rel_$DATE`, I can imagine having existing hash-based tags start with a number (that may be higher than the version) could break scripts if they used some form of version comparison.

Al

[2017-07-12 14:21] rhoads-zach commented on #326
@edewit and @gastaldi:

closing since i think the auto-pr-creation is working

[2017-07-12 14:21] #326 closed

[2017-07-12 14:24] rhoads-zach commented on #328
@tradej do you want this date tag _in addition to_ the "last updated" line at the bottom of the current docs?

[2017-07-12 16:07] tradej commented on #239
I am taking this issue. We have agreed with @ALRubinger that I'll first provide the contribution instructions for the documentation alone. When that is done, I'll start working on a guide that explains how to contribute your own boosters.

[2017-07-12 17:27] rhoads-zach commented on #239
@tradej take a look at README.adoc for the initial instructions for contributing to the docs. Once this is up, we should also discuss how we want to maintain our README

[2017-07-12 19:59] lavernw1 opened #344 "Typo in section 2, 2nd paragraph VirtualBox 5.x"
for example --vm-driver=virtualbox would use VirutalBox. . should be VirtualBox

[2017-07-13 08:37] tradej commented on #328
I would say so, yes. The "Last updated" info in the docs is for readers, and the tag is for our team's tracking purposees. I could write a tiny script that would update the docs and create the tag at the same time if it's too bothersome.

[2017-07-13 08:40] tradej commented on #239
@rhoads-zach Will do. I absolutely think README should be assembled from the same modules the larger Contrib Guide will be built from.

[2017-07-13 17:24] rhoads-zach commented on #334
@lavernw1 FYI, i ended up resolving this as part of the release work this week.

[2017-07-13 18:21] #317 closed

[2017-07-13 18:29] #243 closed

[2017-07-13 19:02] rhoads-zach commented on #328
ok @tradej that sounds good. Please forward with this solution and let me know if you need anything else.

[2017-07-14 15:26] inoxx03 opened #348 "Add a Merge Process description to the Contribution Guide"
The Contribution Guide should contain a section describing the currently established merge process. It might be useful mainly as a reference material for our upstream (as well as internal) Docs contributors.

In the meantime the section will be included in the `README.adoc` file and will be turned into a topic once we populate the contrib guide.

[2017-07-14 20:49] #334 closed

[2017-07-17 10:31] inoxx03 commented on #348
Resolved in #355

[2017-07-17 14:59] gastaldi opened #357 "Fix typo in the “Your next step” : 3. Perform any updates you want to the the project"
Remove duplicate "the" in step 3.

[2017-07-17 15:07] gastaldi commented on #357
PR created: https://github.com/openshiftio/appdev-documentation/pull/358

[2017-07-17 18:40] #357 closed

[2017-07-17 19:09] rhoads-zach opened #359 "Filter launcher page links based on current runtime"
Work with front end team to add filters to links based on chosen runtime:
docs/topics/launcher-review-manual.adoc

[2017-07-17 19:11] rhoads-zach opened #360 "Links in launcher content topic should open in new tab"
docs/topics/launcher-review-manual.adoc

[2017-07-17 19:37] rhoads-zach opened #361 "Add step 5 to launcher next steps"
“OpenShift project will update automatically when changes get pushed” (or something along those lines)

docs/topics/launcher-review-update-booster-ci.adoc

[2017-07-17 20:35] rhoads-zach opened #362 "link to README file from from Next Steps"
Work with front end team to link to README file for user

docs/topics/launcher-review-update-booster-ci.adoc

[2017-07-17 20:59] #291 closed

[2017-07-18 10:13] #348 closed

[2017-07-18 12:32] inoxx03 commented on #340
I agree that the overlap between the two chapters is sufficient to make them seem redundant in the current context. However, it might be a good idea to retain the redundant chapters for now, as we may be able to use them once we switch to user-story-driven documentation. That way, the user will be presented with a guide that will consist of topics that are relevant to his choice of environment.
WD

[2017-07-18 15:43] #305 closed

[2017-07-18 16:06] #303 closed

[2017-07-18 17:46] rhoads-zach commented on #339
@cmoulliard this is the opening sentence from the Minishift docs[1]:

We chose `Single-note Openshift Cluster` as a generic term for running Minishift or the CDK on your local host. Do you still think its not appropriate? Would you prefer `Local Openshift Platform`?

Basically, we're trying to convey that the users are deploying to an instance of OpenShift running on their machine as apposed to Op

[2017-07-18 21:35] rhoads-zach opened #370 "Rework Intro paragraph in Getting Started"
The intro paragraph in the getting started guide could use a smoothing pass based on the updated content:
http://appdev-stage.openshift.io/docs/getting-started.html

Current topic is here:
docs/topics/getting-started-intro.adoc

[2017-07-18 21:36] rhoads-zach commented on #328
Re-opening since the fix was rolled-back

[2017-07-18 21:37] rhoads-zach commented on #328
@tradej i feel like this issue overlaps with #288, do you mind working with @Ladicek on that one too?

[2017-07-18 23:22] inoxx03 opened #371 "Typo in Merge Process Description section of README.adoc"
[appdev-documentation/README.adoc](https://github.com/openshiftio/appdev-documentation/blob/master/README.adoc)

Step 11 contains a typo in the command example block:

Should be:

[2017-07-19 08:00] tradej commented on #328
I certainly don't. I'll contact him right away.

[2017-07-19 11:18] tradej commented on #340
To elaborate further on the point made by @inoxx03:

The trend in tech writing is to write documentation that can be read as a block from the top to the bottom without having to jump around in the document or, god forbid, open another book. This model is proving to be easier to read and preferred by readers.

Having said that, maintaining duplicate code in multiple files is to be avoided unless ab

[2017-07-19 11:55] inoxx03 commented on #359
resolved and merged in PR #369

[2017-07-19 11:55] #359 closed

[2017-07-19 12:10] inoxx03 commented on #371
fixed by: 0e846ef36f50148de72c1e4f701bc0baf710dd67

[2017-07-19 12:10] #371 closed

[2017-07-19 13:25] Ladicek commented on #328
IMHO, the tagging scheme as described in this issue and implemented in the script, is fairly human-readable and hence #288 is no longer an issue (from my POV).

[2017-07-19 14:18] inoxx03 commented on #340
@cmoulliard Thank you for the feedback. It appears that the issues you've pointed out in this ticket are related to the state of the Getting Started Guide prior to the refactor that was done last Friday. In the post-refactor state of the GSG, most of the cited passages have been removed, which renders your suggested changes no longer applicable.

In light of these new developments, I have two prop

[2017-07-19 14:30] rhoads-zach commented on #239
@tradej nice work on #365

I think it adds some nice content to this guide.

One more task that is a part of this issue:

Figure out how this gets linked on the landing page: https://github.com/openshiftio/appdev-documentation/blob/master/docs/landing-page/master.adoc

[2017-07-19 15:55] inoxx03 commented on #360
resolved in PR #366

[2017-07-19 15:55] #360 closed

[2017-07-19 15:56] inoxx03 commented on #361
resolved in PR #367

[2017-07-19 15:56] #361 closed

[2017-07-19 15:56] inoxx03 commented on #362
resolved by PR #368

[2017-07-19 15:56] #362 closed

[2017-07-19 17:53] rhoads-zach commented on #344
@lavernw1 closing this since it was resolved in a PR

[2017-07-19 17:53] #344 closed

[2017-07-19 17:54] rhoads-zach commented on #339
@rkratky Let me know if you have any opinions on this.

[2017-07-19 18:45] rhoads-zach commented on #216
@ALRubinger I'm not sure what this issue is for. Closing for now. Please re-open if this requires any work.

[2017-07-19 18:45] #216 closed

[2017-07-20 10:14] rkratky commented on #339
@rhoads-zach, I vote for '(single-node) OpenShift cluster' -- that would keep the terminology consistent with OpenShift (and CDK) docs.

[2017-07-20 12:33] inoxx03 commented on #330
resolved in #373

[2017-07-20 15:05] tradej commented on #309
Note to self: Update the dept. technical glossary as well.

[2017-07-20 16:23] inoxx03 opened #374 "Externalize the OpenShift and Minishift route hostnames as variables"
This issue is a follow-up to issue #330 and PR #373

Rendering the hostname part of OSO and Minishift routes as replaceable variables will help us keep the route exaples consistent across the docs.
```e8ca.engint.openshiftapps.com```
```192.168.64.2.nip.io```

NOTE: this change might not be applicabe to the custom README files for each booster, as those use a separate local variable.

[2017-07-20 17:50] rhoads-zach commented on #283
FYI please incorporate any updates from above issue into this doc work

[2017-07-21 11:57] inoxx03 commented on #340
Closing this as 'Won't Fix', proposed changes no longer applicable to the current state of docs.

[2017-07-21 11:57] #340 closed

[2017-07-21 12:31] inoxx03 commented on #304
Script output example for reference:

[code]

[2017-07-21 12:34] inoxx03 commented on #304
@Ladicek
Would the curl commands in question be the follwing:

* ```curl -sk -X POST $SSO_HOST/auth/realms/$REALM/protocol/openid-connect/token -d grant_type=password -d username=$USER -d client_secret=$SECRET -d password=$PASSWORD -d client_id=$CLIENT_ID```

* ```curl -kv $APP_URL/greeting -H "Authorization:Bearer $access_token"```

[2017-07-21 13:35] rhoads-zach commented on #304
@inoxx03 take a look at #332 and work with @lavernw1 on the right path forward both of these issues.

[2017-07-21 14:47] #330 closed

[2017-07-24 10:07] Ladicek commented on #309
Related: some terms are generic ("opinionated framework", "continuous delivery") and some terms are only related to our metaphor of launching rockets to space ("booster", "mission"). We should make sure that noone confuses our metaphor with generic industry terms.

[2017-07-24 10:13] Ladicek commented on #304
@inoxx03 That's exactly it.

[2017-07-24 15:07] rhoads-zach commented on #339
per feedback from @rkratky, I think we should keep Single-node OpenShift cluster. @cmoulliard feel free to re-open if you'd like to discuss this more.

[2017-07-24 15:07] #339 closed

[2017-07-24 15:19] tradej opened #377 "Write missing chapters in the Contribution Guide"
Currently missing chapters:

* Metadata and Attributes
* Requirements (naming, supportability statements, legal requirements etc.)
* Internal JIRA issues workflow
* ~~Publishing~~

Follows up on #376, resolves #239.

[2017-07-24 16:45] inoxx03 commented on #304
@Ladicek For some reason unknown to me, when I interact with the jarfile to get a response from the ```/greeting``` I get the expected "Hello World" response form the ```/greeting``` endpoint. When I use the commands from the script, however, I am still able to issue the request, but the respons comes back as ```401``` Unauthorized.
I'm pretty sure I'm missing something really basic here, please a

[2017-07-24 17:40] tradej opened #378 "previewDocsServer.sh doesn't work in Fedora with SELinux on"
The `docker` invocations in `$REPO_HOME/scripts/previewDocsServer` do not work in Fedora if SELinux is on because it is blocking access to the user's directory. To solve this problem, Docker needs to be run in privileged mode by adding the `--privileged` flag.

Also, the script invocation needs to be done either using an account in the `docker` group (which is a security hole, and is discouraged),

[2017-07-24 17:53] rhoads-zach opened #379 "Updated README templates to substitute using properties files instead of adoc"

[2017-07-24 18:16] gastaldi commented on #379
@zrhoads1 you need to change the property pattern in the documents to be `${property}` instead of just `{property}`. Eg. `{localCmdRun}` becomes `${localCmdRun}`

[2017-07-24 19:28] rhoads-zach commented on #379
@gastaldi updated branch, let me know if you have any other feedback

[2017-07-24 20:14] rhoads-zach commented on #379
related to #380

[2017-07-24 20:43] #379 closed

[2017-07-25 09:48] Ladicek commented on #304
OK, so here's what I'm doing:

[code]

[2017-07-25 10:12] Ladicek commented on #378
If you _really_ want to do this, I'd recommend using `sudo` just for the `docker` invocations and linking to one of the many explanations, e.g. https://www.projectatomic.io/blog/2015/08/why-we-dont-let-non-root-users-run-docker-in-centos-fedora-or-rhel/

[2017-07-25 10:25] tradej commented on #378
Yes, that seems like the most reasonable solution for me too. Since I believe we can expect the script's users to review and understand the code if they're spooked by the sudo prompt, I'll implement it like that.

[2017-07-25 11:50] tradej commented on #239
@rhoads-zach Re README: I have done some digging, and there is a big problem with the README—GitHub [apparently](http://asciidoctor.org/news/2014/02/04/github-asciidoctor-0.1.4-upgrade-5-things-to-know/#3-swap-an-include-for-a-link) renders AsciiDoc files in the _SECURE_ mode, which means all the _include_ directives are disabled.

At the moment, I can't see a way of single-sourcing the README fil

[2017-07-25 13:58] tradej commented on #306
My current progress is in [my repository](https://github.com/tradej/appdev-documentation/tree/issue-306). I'm putting this away for a while because it's really frustrating to get the tests working.

[2017-07-25 14:18] tradej commented on #297
Note to self: OpenShift documentation uses AsciiBinder

[2017-07-25 14:22] tradej commented on #297
Note to self: We only want to build all our books the standard way, see if _xmllint_ passes. Previewing builds is an extra.

[2017-07-25 14:41] rhoads-zach opened #383 "Update minishift install instructions with template callouts"
* Provide a better reference to template instead of just saying `here`.
* Consider making a better call out to clearing key cloak fields.

[2017-07-25 15:11] inoxx03 commented on #304
Resolved in PR #382

[2017-07-25 20:23] #378 closed

[2017-07-25 20:41] rhoads-zach commented on #370
accidentally tagged wrong commit

[2017-07-25 20:42] #304 closed

[2017-07-25 20:54] gastaldi opened #385 "Typo in nodejs runtime guide"
There are two occurrences of the word `Dependecies`. It should read `Dependencies`

[2017-07-25 21:12] rhoads-zach opened #386 "Add "Coming Soon" to NodeJS guide"

[2017-07-26 10:35] inoxx03 commented on #370
I know but I noticed it too late. Sorry about that, my bad.

[2017-07-26 10:40] inoxx03 commented on #370
Draft in PR #388

Suggestions welcome.

[2017-07-26 15:46] rhoads-zach opened #389 "Document process for updating catalog for local minishift testing"
When adding a new runtime or booster, developers need to know how to update the local catalog for testing with minishift. The contrib guide should contain this information.

[2017-07-26 15:46] rhoads-zach commented on #389
@lholmquist please add more info if needed.

[2017-07-26 15:47] rhoads-zach commented on #389
FYI @tradej

[2017-07-26 19:17] #370 closed

[2017-07-26 19:21] #328 closed

[2017-07-26 19:40] #385 closed

[2017-07-26 19:41] #386 closed

[2017-07-26 19:45] inoxx03 commented on #383
Fixed by cbf553e7db57d580048969478475d38084c547c5 and merged

[2017-07-26 19:45] #383 closed

[2017-07-26 19:45] #288 closed

[2017-07-27 09:32] tradej opened #392 "Release tagging does not work on UNIX machines"
Following up on #391:

As reported by @rhoads-zach in the documentation Slack channel, the `$REPO_HOME/scripts/tagRelease.sh` script does not work on machines with OpenBSD or MacOS because the `date` binary there does not have the `--rfc-3339` flag. I assume this problem also affects the `ci/Jenkinsfile` script as I have used the same invocation there.

I believe the solution is to use `date "+%Y-

[2017-07-27 10:31] Ladicek commented on #392
I wonder if `date -I` (resp. `date --iso-8601`) would work? But I don't really mind, `date "+%Y-%m-%d"` will also work and is likely more portable.

[2017-07-27 10:52] tradej commented on #392
Apparently, it will not. I have verified it on OpenBSD—none of the listed options is available there.

[2017-07-27 14:22] tradej opened #394 "Track addressed issues"
Use some mechanic like Milestones to track issues addressed within a given time period (e. g. a sprint), and produce a changelog for each such period.

[2017-07-27 15:29] #392 closed

[2017-07-27 18:06] inoxx03 commented on #199
resolved in PR #396

[2017-07-28 07:40] tradej commented on #297
Apparently, the rest of the team uses ci.centos.org. Investigation needed.

[2017-07-28 07:51] tradej commented on #394
While the changelog generation could be automated, i believe that with the current number of issues solved per month, manually copying them from the solved issue list is sufficient at this point.

I have tried writing a simple Vim command to process the issue list and it seems very much feasible to me.

[2017-07-28 15:14] tradej commented on #394
I have created a milestone called _Current Development._ When someone picks up an issue and starts working on it, they should add it to this milestone. Once we release, we rename Current Development to e. g. 2017-07-29 and create a new milestone called Current Development. Rinse and repeat.

[2017-07-28 18:53] inoxx03 commented on #394
@tradej Seems like an excellent solution to me:) Thanks for documenting it, too.

[2017-07-31 13:36] inoxx03 opened #403 "Fix route example variables in Nexus setup guide"
It seems some of the route examples in the Nexus installation guide are not  rendering correctly.
The section needs a cleanup pass.

Image for reference:

![nexus-var-fix](https://user-images.githubusercontent.com/17914654/28780131-f6844fda-7605-11e7-9b32-8cf338fb310c.png)

[2017-07-31 14:26] inoxx03 commented on #403
resolved in PR #404

[2017-08-01 13:18] #403 closed

[2017-08-01 18:19] lavernw1 commented on #283
@Ladicek I'm looking to incorporate changes related to Planning issue #35 Support fabric8 jenkinsfile library for this task to describe CI/CD  for the Getting Started Guide.  I looked at the #35 planning issue and the discussion of pre-defined patterns (blue-green, etc) and fabric8 links. Can you give me idea of what I would need to emphasize for Fabric8 jenkinsfile flows in our general CI/CD topi

[2017-08-01 18:34] Ladicek commented on #283
@lavernw1 Sorry, I don't have the details just yet, as that work is yet to be done. I also don't think this should affect RHOAR docs, that's specific to OpenShift.io -- but maybe @rhoads-zach or @ALRubinger have a different opinion?

[2017-08-01 20:56] #374 closed

[2017-08-02 11:39] tradej commented on #169
This seems to still be hanging on the developers getting the Launcher as an option in Minishift.

For current progress, see openshiftio/launchpad-templates#2.

[2017-08-02 15:01] rhoads-zach opened #408 "Update Configmap missions to use oc command for deploying the configmap"
Things to update:
- Runtime guides
- READMEs

[2017-08-02 18:01] rhoads-zach commented on #408
closed since work was already done.

[2017-08-02 18:01] #408 closed

[2017-08-02 18:12] rhoads-zach opened #409 "Fix minishift install instructions"
Minishift install process has changed, specifically LAUNCHPAD_FRONTEND_HOST is no longer needed.

[2017-08-03 11:30] tradej commented on #394
Milestones addressed in #406.

[2017-08-03 12:48] tradej opened #413 "Publish Contribution Guide"
Find a suitable way of publishing the Contribution Guide for people who contribute to the GitHub repository.

[2017-08-03 12:48] tradej commented on #413
I am currently exploring [GitHub Pages](https://pages.github.com) as a publishing platform.

[2017-08-03 13:08] #409 closed

[2017-08-03 14:15] inoxx03 commented on #394
not really suitable for us right now, but still, not a bad idea: [keep-a-changelog](http://keepachangelog.com/en/1.0.0/)

[2017-08-03 14:58] gastaldi opened #415 "Minishift version should be updated in the steps to install a nexus repository"
http://appdev.openshift.io/docs/minishift-installation.html#_using_a_nexus_repository_server_with_the_launch_openshift_io_application_on_your_single_node_openshift_cluster

[2017-08-03 15:23] tradej opened #416 "Establish conventions when writing AsciiDoc"
Sub-tasks:
* Use the result of the CCS-wide Asciidoctor Markup Conventions initiative
* Sync with other products in specialised areas like naming etc. (OpenShift)

[2017-08-03 15:47] inoxx03 commented on #416
+1

[2017-08-03 16:55] inoxx03 commented on #415
resolved in PR #417

[2017-08-03 17:06] #415 closed

[2017-08-03 19:07] rhoads-zach opened #419 "Update customized readme files for zip download flow"

[2017-08-03 19:42] #419 closed

[2017-08-04 17:36] rhoads-zach opened #423 "Document Process and Front End Topic changes for adding a new Runtime"
FYI @gastaldi

[2017-08-04 20:26] rhoads-zach opened #424 "Update launcher and minishift screenshot"
Specifically:
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/images/minishift_launchpad_booting.png

It is used in this section:
Update screenshot used here:
http://appdev-stage.openshift.io/docs/minishift-installation.html#create-launcher-app

[2017-08-04 20:29] rhoads-zach opened #425 "Change resource links to git repos in each booster"
Each booster has a "Resources" section with links to github repos.

For example:
http://appdev-stage.openshift.io/docs/spring-boot-runtime.html#mission-http-api-spring-boot-tomcat

has:
REST API Level 0 Mission - Eclipse Vert.x Booster
REST API Level 0 Mission - WildFly Swarm Booster
REST API Level 0 Mission - Node.js Booster

Which points to github repos. Those links instead should point to the c

[2017-08-07 08:25] cmoulliard commented on #416
Is there a link to read what this initiative proposes ?

[2017-08-07 09:19] tradej commented on #416
@cmoulliard The results are not available yet, but should be in the matter of days, a few weeks at most.

[2017-08-07 14:22] inoxx03 commented on #394
CHANGELOG in PR #426

[2017-08-07 14:32] rhoads-zach opened #427 "Add NodeJS link and callouts to runtime guides"

[2017-08-07 14:34] gastaldi opened #428 "Run Documentation in DevTools OSD"
This is not a blocker to public launch.openshift.io, but the repository needs some adjustments to be able to build in ci.centos.org and to be published in the Devtools OSD

We need the following files to exist in this repository (it can be copied/based on what's available in https://github.com/openshiftio/launchpad-frontend):

- `cico_build_deploy.sh`
- `Dockerfile.build`
- `Dockerfile.deploy`
- `

[2017-08-07 17:24] inoxx03 commented on #425
resolved in #429

[2017-08-07 17:31] inoxx03 opened #430 "Create an Additional Resources Section in the Secured booster guides"
Since all the other mission have these section, it might help to keep the Secured Mission (despite its slightly different structure) guide consistent and add a similar section to it, too.

[2017-08-07 21:46] #425 closed

[2017-08-08 06:19] Ladicek commented on #430
Agreed! There should be a link to Red Hat SSO docs, and I got a link to this wonderful article from @pmlopes that's IMHO a good fit too: https://aaronparecki.com/oauth-2-simplified/

[2017-08-08 09:50] tradej commented on #428
Hi, @gastaldi, what sort of building are we talking about in ci.centos.org? Building for production, nightlies, pull requests, or something yet different?

[2017-08-08 11:33] gastaldi commented on #428
Basically building for the staging (everytime a push happens, the docs are
built and the image is redeployed) and providing means to update to
production.

Em 8 de ago de 2017 06:50, "Tomas Radej" <notifications@github.com>
escreveu:

Hi, @gastaldi <https://github.com/gastaldi>, what sort of building are we
talking about in ci.centos.org? Building for production, nightlies, pull
requests, or somet

[2017-08-08 12:18] rhoads-zach commented on #239
@tradej this is main README file for this repo, correct? If thats the case then i'm fine with that approach.

[2017-08-08 13:25] inoxx03 commented on #430
@Ladicek Thank you for the link, I've created  PR #434 for the resources section.

[2017-08-08 13:32] inoxx03 opened #435 "Fix headline level of the resources section in the Circuit Breaker mission guide."
The resources section of the Circuit Breaker mission guides has its title set to h2, when it should be h1. Not a big bug, but visible, and therefore annoying:)

[2017-08-08 13:40] inoxx03 commented on #435
resolved in PR #436

[2017-08-08 15:07] tradej opened #439 "Remove unnecessary files"
Once the Nginx move is finished, the following files or directories will not be necessary any more, and can be purged:
[code]

Dependent on #428.

[2017-08-08 15:13] #435 closed

[2017-08-08 15:14] tradej opened #440 "Consolidate script naming"
There is a discrepancy in the script naming scheme:

* Most of the scripts in the `scripts` directory and the `buildGuide.sh` scripts are named in camelCase.
* `scripts/deploy_launchpad_mission.sh` and `cico_build_deploy.sh` are named using underscores.

Let's consolidate the naming conventions of the scripts. I suggest we use the all-lowercase, underscore-separated naming:
[code]

WDYT?

[2017-08-08 15:15] tradej commented on #239
@rhoads-zach It is. Thank you.

[2017-08-08 15:18] rhoads-zach opened #441 "Add zip flow to getting started guide."

[2017-08-08 15:19] tradej commented on #306
Note to self: The app has been moved to Nginx, so the setting is in `$REPO_HOME/nginx.conf`. Testing should probably be configured in the CI file.

[2017-08-08 15:19] #394 closed

[2017-08-08 16:07] inoxx03 commented on #325
Moving this to the next release after 2017-8-14. Removing this issue from Current Development for now.

[2017-08-08 16:23] Ladicek commented on #332
For all other missions, we only describe the interaction using `curl`, but that's because using `curl` and using the webpage is exactly the same thing. In case of the SSO mission, the interaction using `curl` is different from using the webpage, so I agree we should describe both -- and we should also describe what's the difference. (Basically, the `curl` way is how programmatic interaction would

[2017-08-08 17:56] rhoads-zach opened #445 "Add `compile`option to mvn command when running locally in README"
update properties file for customized readmes.

Vert.x mission should be
`man compile run....`

[2017-08-08 18:23] burrzinga commented on #445
mvn compile vertx:run

this allows for hot redeployment of .java files.   As the file changes, it will auto compile and recycle the Vert.x instance, redeploying the app and the user just needs to hit refresh in his/her browser.

[2017-08-08 18:25] rhoads-zach commented on #445
thanks @burrzinga, does this only apply to vert.x, or is this valid on boot and swarm as well?

[2017-08-08 19:14] #430 closed

[2017-08-08 19:46] rhoads-zach commented on #441
@inoxx03 if this looks good, feel free to merge

[2017-08-08 20:14] #427 closed

[2017-08-09 09:03] tradej opened #448 "cico_build_deploy.sh is undocumented"
There is currently no documentation of the cico_build_deploy.sh script, which can be used for running the server locally.

Follow-up to #432.

[2017-08-09 10:18] inoxx03 opened #449 "Update Minishift install guide to match the latest Minishift version released"
[code]

[2017-08-09 10:49] inoxx03 commented on #449
resolved in PR #450

[2017-08-09 12:38] tradej commented on #413
Note to self: GitHub Pages work well.

[2017-08-09 12:52] tradej commented on #423
This may be a good candidate for the technical part of the Contribution Guide.

[2017-08-09 12:57] tradej commented on #239
I will update the README file once the Contribution Guide is published somewhere. (see #413)

[2017-08-09 14:20] lavernw1 commented on #283
@Ladicek  thanks for the update. @ALRubinger can you refer me to any resources or have ideas related what whould be good to include in our CI/CD topic as it relates to the Jenkinfile libray in fabric8.

[2017-08-09 14:33] #424 closed

[2017-08-09 14:44] #306 closed

[2017-08-09 14:45] lavernw1 commented on #332
Hi @Ladicek thanks for the update. I have run the SSO mission and noticed the difference in interaction for the web client using the Vert.x runtime. I'll look into adding an example. I've run the unmodified booster  on minishift.and got 401 not authorized when interacting via the web client HTTP API and greeting service. The single signon console admin login example worked as expected.

[2017-08-09 15:39] #441 closed

[2017-08-09 15:59] tradej opened #454 "Filesystem table in live Contrib Guide is garbled"
The special characters with horizontal and vertical lines in the [filesystem table](http://appdev.openshift.io/docs/contrib-guide.html#_repository_filesystem_layout) are garbled in the online version of the Contribution Guide. This does not seem to happen with local builds.

Actual output:
[code]

Expected output:
[code]

[2017-08-09 16:02] tradej opened #455 "Add new GitHub labels"
The repository is missing a few labels:

Guides:
* Contribution Guide
* Minishift Guide
* Getting Started Guide

Priorities:
* High Priority
* Low Priority

Please suggest others. The labels should be added on GitHub and described in the Contrib Guide.

[2017-08-09 16:05] tradej commented on #413
The CG will be published along with other guides, and will be linked to from the launchpad app. See openshiftio/launchpad-frontend#164 for more information.

[2017-08-09 16:10] #448 closed

[2017-08-09 17:18] inoxx03 commented on #455
+ 1

Suggestions:

I see we also have some mission-specific labels:
* Health Check
* CRUD
* REST API
* ConfigMap
* SSO (I'm guessing this denotes the Secured Booster rather that RHSSO per se)

We might want to add a label for the Circuit Breaker Mission, too, for completensess sake

Also, we should consider adding these:

* SME Review Pending
* Peer Review Pending

Reason: we'd have an easily reco

[2017-08-09 17:29] inoxx03 opened #456 "Investigate ways to automate changelog generation and updates using the GitHub API."
https://developer.github.com/v3/issues/

[2017-08-09 18:08] lavernw1 commented on #332
@Ladicek sorry typo. Error 404 is received when interacting via the web client HTTP API and greeting service with sso mission and current vert.x runtime.

[2017-08-09 18:56] gastaldi commented on #455
How about having labels for the runtimes?

[2017-08-09 20:01] lavernw1 opened #457 "fix links in step 3 install github access token in single code openshift cluster guide"
resolved by PR #462

[2017-08-09 20:10] rhoads-zach opened #458 "fix dead links in dev-guide-mission-intro.adoc"

[2017-08-09 20:17] #458 closed

[2017-08-09 20:49] astrong1 opened #460 "Update hyperlink text to be more descriptive of the link's target"
We have three instances of hyperlink text that only contains words like "here". As an example in the section _Trigger Builds Automatically with UltraHook_, we have:

`Sign up for an UltraHook API Key link:http://www.ultrahook.com/register[here] and remember your _namespace_ from the form.`

These hyperlinks should be more descriptive of the target and the "call to action" for the user clicking on

[2017-08-10 06:30] Ladicek commented on #455
It seems you have quite a lot of labels, so it would probably be good to categorize them by type. I see you already do that with colors, but frankly, the list of labels is still quite hard to read. What I often see is using a prefix (in addition to colors, which is a wonderful idea!). For example:

- Runtime / WildFly Swarm, Runtime / Vert.x, ...
- Mission / REST API, Mission / CRUD, ...
- Type /

[2017-08-10 06:32] Ladicek commented on #332
@lavernw1 That sounds weird. @pmlopes is responsible for the SSO mission in general and the Vert.x SSO booster in particular, so he's probably the best one to speak with about such bugs.

[2017-08-10 09:19] tradej commented on #455
@inoxx03:

Thanks for the suggestions, I'm certainly in favour of implementing them. I am not sure if we need the _-pending_ labels for PRs because IMO we could reuse the existing SME/Peer review labels for those reviews that already happened, but it's nothing I would strictly oppose.

@gastaldi:

We have runtime-related labels already.

@Ladicek:

Absolutely, I have to concede the existing system

[2017-08-10 13:49] inoxx03 opened #463 "Cleanup: rephrase callout in Spring Boot runime guide"
this is a follow-up to PR #461, please see the discussion section on the PR for the original thread.

current phrasing:

suggestion by @tradej:

[2017-08-10 14:08] #64 closed

[2017-08-10 14:25] #457 closed

[2017-08-10 15:38] lavernw1 commented on #460
Update links to be descriptive. Refer to blog post on subject...
https://medium.com/@heyoka/dont-use-click-here-f32f445d1021

[2017-08-10 16:49] pmlopes commented on #332
@lavernw1 can you detail how you get 404, it doesn't seem normail, since the API did not change, just the static assets (index.html file)

[2017-08-10 17:22] tradej opened #468 "Version tag is wrong in the new production environment"
The tag in the [ci.centos.org](https://appdev-launchpad-preview.b6ff.rh-idev.openshiftapps.com/docs/getting-started.html) build is:
[code]
Should be:
[code]

[2017-08-10 19:02] lavernw1 commented on #460
@inoxx03 need to verify the change to docs/topics/minishift-install-start-configure-minishift.adoc

[2017-08-11 09:40] tradej commented on #454
The issue does not happen with the [ci.centos.org build](https://appdev-launchpad-preview.b6ff.rh-idev.openshiftapps.com/docs/contrib-guide.html).

[2017-08-11 09:40] #454 closed

[2017-08-11 14:08] tradej opened #469 "Assign analytics token at deployment time"
The current way of setting the analytics token (see https://github.com/openshiftio/appdev-documentation/blob/master/cico_build_deploy.sh#L54) does not work on ci.centos.org because the staging and production containers are identical, and this substitution happens at build time. This means that we end up with the staging token in production.

A possible solution is to have a placeholder in the temp

[2017-08-11 14:18] tradej opened #470 "An alternative way of setting :revnumber:"
The current way of obtaining `:revnumber:` (i. e. the last Git tag in the repo) does not work on http://ci.centos.org because the `.git` directory is not copied to the machine that runs the `cico_build_deploy.sh` script that builds the doc set. There needs to be an alternative way of setting this variable. Off the top of my head, I can think of these:

* **Set the current date.** This has the down

[2017-08-11 14:23] tradej opened #471 "Make testing an integral part of the build process"
Currently, the `scripts/buildGuides-CI.sh` test script is not run when the containers are built. Testing the books should be an integral part of the build process. Make changes to the `cico_build_deploy.sh` script so that it either contains or calls `scripts/buildGuides-CI.sh` and can be used in the http://ci.centos.org build chain.

Partly resolves #297.

[2017-08-11 14:28] tradej commented on #468
Closing, the issue is tracked in #470.

[2017-08-11 14:28] #468 closed

[2017-08-11 17:15] inoxx03 commented on #460
resolved in PR #472

[2017-08-11 17:15] #460 closed

[2017-08-11 21:43] lavernw1 commented on #332
@pmlopes  I was using the current vert.x guide https://appdev.openshift.io/docs/vertx-runtime.html#mission-secured-vertx

I followed the instructions in section 2.6 to Deploy RH SSO to your Single-node OpenShift Cluster using your launch.openshift.io Application.

In Step 2.6.5. Interact with the Secured Booster
I interacted with the booster via the HTTP API and
just wondered if there was addition

[2017-08-12 10:10] pmlopes commented on #332
This is a configuration issue, the sso client must be configured as public in keycloak, and the config exported and updated in 2-secret yml

[2017-08-14 09:15] tradej commented on #470
Setting the commit hash may actually not be possible for the same reason—the `.git` directory is not copied to the build machine.

[2017-08-14 12:20] #469 closed

[2017-08-14 13:24] rhoads-zach commented on #470
@tradej for now, lets move back to $(date). If we come  up with a better solution, lets re-open or create a new issue.

[2017-08-14 13:26] tradej commented on #470
On it.

[2017-08-14 13:29] rhoads-zach opened #477 "Update internal docs with new deployment process and links"
Update README and contrib guide with with new deployment instructions and removal of prod branch.

[2017-08-14 13:29] rhoads-zach commented on #477
@tradej or @inoxx03 either of you want to take this?

[2017-08-14 13:37] #470 closed

[2017-08-14 13:38] tradej commented on #477
I am working on the new README right now, so I'll take it.

[2017-08-14 14:17] #455 closed

[2017-08-14 17:06] inoxx03 commented on #477
resolved in PR #484

[2017-08-14 17:40] inoxx03 commented on #471
resolved in pr #476

[2017-08-14 17:40] #471 closed

[2017-08-15 08:04] tradej opened #486 "Testing always fails in the CI build"
https://ci.centos.org/job/devtools-appdev-documentation-generator-build-master/26/console

[2017-08-15 08:12] tradej commented on #477
The Contrib Guide was not updated, reopening.

[2017-08-15 08:14] tradej commented on #413
Contrib Guide is live and referenced from the README file. The launchpad issue is still pending.

[2017-08-15 08:15] #297 closed

[2017-08-15 08:19] tradej commented on #428
Can this be closed now?

[2017-08-15 12:45] tradej commented on #239
Closing as the CG is published and referenced from the README.

[2017-08-15 12:45] #239 closed

[2017-08-15 12:53] gastaldi commented on #428
Yes, thanks for pointing that out

[2017-08-15 12:53] #428 closed

[2017-08-15 13:09] tradej opened #489 "Replace mentions and links to this repo and appdev.openshift.io by attributes"
All references to this repository in the doc set should be standardised and replaced by attributes. Suggestion:

GitHub:
* `{repo-docs-name}` resolving to `appdev-documentation`
* `{link-repo-docs}` pointing to `https://github.com/openshiftio/appdev-documentation/`

Production:
* `{docs-name}` resolving to `appdev.openshift.io`
* `{link-docs}` pointing to `https://appdev.openshift.io`

In this arr

[2017-08-15 13:14] #486 closed

[2017-08-15 13:19] tradej opened #490 "Move testing into Dockerfile.build"
Move testing the books from `cico_build_deploy.sh` to `Dockerfile.build` for better portability and deduplication of code (making sure Asciidoctor is installed).

Follows up on #487.

[2017-08-15 13:19] inoxx03 opened #491 "Update Milestones and CHANGELOG.adoc"
* CHANGELOG updates should include information about infrastructure changes and other internal updates not tracked  in issues

[2017-08-15 13:49] rhoads-zach opened #492 "Add explicit anchor labels to proficiency levels section in intro paragraphs"
Located in these files:
docs/topics/{NAME}-mission-intro-paragraph.adoc

[2017-08-15 13:51] rhoads-zach opened #493 "Add NodeJS to GSG Next Steps section"
https://appdev.prod-preview.openshift.io/docs/getting-started.html#_next_steps

[2017-08-15 13:53] rhoads-zach opened #494 "Add `npm install` to Node docs"
`npm install` is required in addition `npm run`

Docs affected:
- Readme
- Nodejs runtime guide

[2017-08-15 13:56] rhoads-zach opened #495 "Update link targets in launcher review screen"

[2017-08-15 15:41] inoxx03 opened #496 "Re-publish Contrib Guide with latest updates"
specifically, the updates should include the update to the Contrib Guide introduced by 3fb7f14a5f4207673c0c650f76dca31316ad1040

[2017-08-16 09:28] tradej commented on #337
This is definitely an interesting idea, but the fact that we heavily reuse files makes this a tricky one.

[2017-08-16 12:46] inoxx03 commented on #491
Status:

`2017-8-14 Prod deploy` has been closed.
New `Current Development` milestone created.
Migrating unresolved Issues and PR's to `Current Development` ...

[2017-08-16 13:41] rhoads-zach commented on #337
I agree @tradej, its not straight forward. I was thinking we could try assign certain topics that are clearly associated with the runtimes and leave others unassigned or assign to a default member.

WDYT?

[2017-08-16 14:01] #439 closed

[2017-08-16 14:05] inoxx03 commented on #477
@tradej Are you still working on resolving this, or can I close?

[2017-08-16 14:05] tradej opened #504 "Enable testing for pull requests"
Blocked by #490 [RESOLVED].

[2017-08-16 14:17] tradej opened #505 "Create a commit hook to prevent breaking launchpad-frontend"
The [openshiftio/launchpad-frontend](https://github.com/openshiftio/launchpad-frontend) repository uses some of the files in this repository. Those files are listed in the [adoc.index](https://github.com/openshiftio/launchpad-frontend/blob/master/src/assets/adoc.index) file in the openshiftio/launchpad-frontend repository.

We should set up a commit hook that would warn the user in case they remov

[2017-08-16 14:19] rhoads-zach opened #506 "Update mission description topic used by front end"
Work related to this:

https://github.com/openshiftio/launchpad-frontend/issues/169

[2017-08-16 14:19] #477 closed

[2017-08-16 14:43] inoxx03 commented on #493
Resolved in PR: #502

[2017-08-16 14:52] #506 closed

[2017-08-16 15:02] inoxx03 commented on #490
resolved in PR #503

[2017-08-16 15:02] #490 closed

[2017-08-16 15:41] inoxx03 commented on #492
resolved in PR #501

[2017-08-16 15:41] #492 closed

[2017-08-16 17:04] inoxx03 commented on #440
resolved in PR #500

[2017-08-16 17:04] #440 closed

[2017-08-16 18:53] inoxx03 commented on #496
resolved in [PR #20](https://github.com/openshiftio/saas-launchpad/pull/20) on saas-launchpad

[2017-08-17 14:22] #445 closed

[2017-08-17 16:31] #495 closed

[2017-08-18 10:44] #496 closed

[2017-08-18 10:58] #491 closed

[2017-08-18 12:09] inoxx03 commented on #489
:+1:  Grabbing this...

[2017-08-18 12:36] inoxx03 opened #511 "Change the expected proficiency level for the Secured mission to Advanced"
The complexity of the SSO Secured mission warrants a higher expected proficiency level.

Reasons:
* The mission has multiple alternative modes of interaction (JAR client, `curl`, and web client).
* The web client requires Keycloak realm reconfiguration in order to be accessible, it is not accessible out of the box as is the case with the other missions currently in the catalog.
* The mission expec

[2017-08-18 12:38] Ladicek commented on #511
I'm +1 on this, but I don't think I'm the one who is able to say "yes we should change this" :-)

[2017-08-18 12:43] inoxx03 commented on #511
@Ladicek I, too, believe we should let other people weigh in on this decision. Let's have a discussion on it here and make it a docs action item if need be.

[2017-08-18 14:37] tradej commented on #511
I can not find a flaw in this reasoning. +1. We should also make this requirements obvious in the introduction of said mission, IMO.

[2017-08-18 14:51] #463 closed

[2017-08-18 16:52] inoxx03 commented on #511
According to the email discussion, I believe we have reached a consensus.
@tradej +1 on you suggestion.
We'll bump the expected proficiency level for the Secured booster to Advanced and ad a callout to the Mission intro about required knowledge of Keaycloak and SSO configuration.

[2017-08-21 07:35] Ladicek commented on #511
Agreed, thanks!

[2017-08-21 10:54] inoxx03 commented on #511
resolved in PR: #514

[2017-08-21 15:34] tradej opened #515 "validate_guides.sh creates untracked files"
When `validate_guides.sh` (or by extension `cico_build_deploy.sh`) is run, a `master.xml` file is created in every book directory that was built. These should either be removed upon successful completion, or rather added to `.gitignore` so that they aren't committed by accident.

[2017-08-21 15:38] #511 closed

[2017-08-21 15:44] tradej opened #517 "cico_build_deploy.sh creates the "html" directory as root"
When the `cico_build_deploy.sh` script is run, it builds the doc set inside the container with root privileges, therefore creating the `$REPO_HOME/html` directory owned by `root:root`. This makes it impossible for the regular user to build the doc set later using the `build_guides.sh` script as it tries to remove the root-owned directory.

Either the `html` directory should be removed after it ser

[2017-08-21 15:48] rhoads-zach opened #518 "remove production branch from contrib guide"

[2017-08-21 15:50] tradej commented on #518
This has been fixed in https://github.com/openshiftio/appdev-documentation/commit/7a89b710a0467454cfa6326011608466dfa38f43#diff-ac6c9a1eec878ef0b59050ca9e9ad5bfL12 . Feel free to close.

[2017-08-21 15:54] rhoads-zach commented on #518
@tradej apologies, was looking a prod instead of stage.

[2017-08-21 20:22] #494 closed

[2017-08-21 21:25] rhoads-zach commented on #515
I cannot reproduce this locally. I don't think my fix for #517 would affect this. @tradej are you still seeing this?

[2017-08-22 15:24] lavernw1 opened #522 "Update description for npm install in Nodejs runtime"
@Ladicek thanks for your review for issue 494. Creating this issue to address your comments regarding npm install -installs packages/dependencies.

[2017-08-22 15:32] Ladicek commented on #522
Sure. Just want to make sure: there's really no difference between "installing packages" and "installing dependencies", because "installing dependencies" actually means "installing packages that the present package depends on".

[2017-08-22 17:40] rhoads-zach opened #524 "Update readme files per feedback"
https://github.com/openshiftio/launchpad-addon/issues/46

[2017-08-22 21:33] rhoads-zach opened #525 "Update launcher urls"
change to https://developers.redhat.com/launch

[2017-08-23 12:35] #337 closed

[2017-08-23 13:19] inoxx03 commented on #489
Resolved in pr: #516

[2017-08-23 13:19] #489 closed

[2017-08-23 15:02] inoxx03 commented on #522
resolved in PR #523

[2017-08-23 15:02] #522 closed

[2017-08-23 16:26] tradej commented on #515
The issue persists. #517 is completely unrelated.

@rhoads-zach, can you please run `validate_guides.sh` on `master` and then `find -name master.xml`? I would be very surprised if this turned out with nothing. `git status` should show the files too.

[2017-08-23 16:26] rhoads-zach opened #527 "Create note boosters not available from launcher"

[2017-08-23 16:37] tradej commented on #504
@vpavlin has agreed to perform the set up. The progress thereof is tracked in the internal [GitLab instance](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/481).

[2017-08-23 18:09] rhoads-zach commented on #515
@tradej
[code]

[2017-08-24 08:52] tradej commented on #515
@rhoads-zach I know where the problem is—dirname is behaving differently on a Mac than on Linux or BSD.

I'm afraid I'll need you to test the scripts I write, or at least get a Mac somewhere, so that I can test them myself. Running an instance of BSD obviously isn't enough to ensure the scripts work.

I'll file an issue.

[2017-08-24 08:54] tradej opened #529 "validate_guides.sh does not work on a Mac"
The different behaviour of `dirname` on a Mac as opposed to Linux or BSD makes the script succeed even when no tests were run.

The error is:
[code]
Likely caused by invoking dirname with multiple arguments that aren't put in quotation marks or some such.

[2017-08-24 11:41] #527 closed

[2017-08-24 13:31] tradej opened #532 "Investigate the use of Emender for testing on this repo"

[2017-08-24 19:33] rhoads-zach commented on #529
fixed in #530. I was able to validate.

[2017-08-24 19:33] #529 closed

[2017-08-24 21:09] rhoads-zach opened #535 "remove authenticated but not authorized interaction from SSO missions"

[2017-08-24 21:27] rhoads-zach commented on #535
per feedback, temporarily remove authenticated but not authorized flow from SSO mission

[2017-08-25 13:07] #524 closed

[2017-08-25 14:07] #456 closed

[2017-08-25 14:10] #505 closed

[2017-08-25 17:02] #535 closed

[2017-08-25 18:36] #515 closed

[2017-08-25 20:01] rhoads-zach commented on #517
@tradej closing this due to #520

[2017-08-25 20:01] #517 closed

[2017-08-28 11:49] tradej opened #541 "Add verifying guides to the commit hook"
The `pre-commit` hook should run `verify_guides.sh` to ensure your commit doesn't break the guides.

[2017-08-28 15:42] rhoads-zach opened #542 "Force links to open in a new window for Front End topics"

[2017-08-28 15:43] rhoads-zach opened #543 "Figure out a way to display $ separately for command blocks"

[2017-08-28 15:44] rhoads-zach opened #544 "Add RUN command "local flow" for OSIO READMES"

[2017-08-28 15:46] rhoads-zach opened #545 "Add "push to origin" check box option to OSIO README git flow"

[2017-08-28 20:54] rhoads-zach opened #549 "Add OSIO README properties for NodeJS for CRUD mission"
relates to #546

[2017-08-28 20:58] lavernw1 opened #550 "update NodeJs runtime text for technoloy preview"
update docs/landing-page/master.adoc “tech preview” -> “technology preview” per the documentation technology preview template

[2017-08-29 08:31] tradej opened #552 "Enable server-side checking for launchpad files"
In the pre-commit hook (see #505), a test is run to verify that no files used by the launchpad frontend were deleted in the commit.

A similar functionality should be available in the `cico_build_deploy.sh` script, with the difference that here, we should check for the _existence_ of all the required files instead of whether they were deleted.

The reason for that is that the script, when run by c

[2017-08-29 08:36] tradej opened #553 "Validate books in the pre-commit hook"
At the moment, we require contributors to manually run the book verification script before they make a contribution. With the pre-commit hook in place (see #505), we can automate this process to run every time the user commits a change.

Notes:
* The output of the validation script should be differentiated from the Git output, for example by prepending `[POLICY] ` or a similar string to every line

[2017-08-29 11:14] #542 closed

[2017-08-29 11:25] tradej opened #554 "Include staging URLs in the Contrib Guide"
The staging URLs should be included in the Contrib Guide:

* Doc stage: https://appdev.prod-preview.openshift.io/
* Launcher stage: https://launch.prod-preview.openshift.io/

[2017-08-29 11:56] #549 closed

[2017-08-29 13:04] inoxx03 commented on #554
@tradej I'll take this, if that's ok:)

[2017-08-29 15:13] rhoads-zach opened #557 "fix nodejs crud mission wording"
per @Ladicek in docs/topics/crud-mission-deploy-booster.adoc

L66:
I think we changed this formulation recently (?). This sounds like Nodeshift is used to install dependencies, which isn't exactly correct.

reference: https://github.com/openshiftio/appdev-documentation/pull/546#discussion_r135702249

[2017-08-29 15:17] Ladicek commented on #557
This is the commit I had in mind: https://github.com/openshiftio/appdev-documentation/commit/41d29063b23611a6f5a2c87b84bfa421a7f2a0de

[2017-08-29 16:06] #550 closed

[2017-08-29 17:07] #544 closed

[2017-08-29 17:35] #545 closed

[2017-08-29 20:07] #557 closed

[2017-08-29 22:24] rdruss opened #559 "Delete is not a trashcan icon in minishift minishift v1.5.0"
In the "Install and Configure the launch.openshift.io Application on a Single-node OpenShift Cluster" guide in section 2 step 3, "Delete the preconfigured project", you are asked to click the trash can icon to delete the preconfigured project.  In minishift v1.5.0 the option to delete is listed once you click on the 3 stacked dots (indicating a separate menu).

<img width="978" alt="delete option"

[2017-08-29 23:00] rdruss opened #560 "New Project is now Create Project in minishift 1.5.0"
In the "Install and Configure the launch.openshift.io Application on a Single-node OpenShift Cluster" guide, section 4.2 Manually, you are asked to click _New Project_ but for minishift 1.5.0 this is now _Create Project_.

<img width="447" alt="create project" src="https://user-images.githubusercontent.com/367748/29847991-7ed2867c-8cdb-11e7-937e-1e89e23c4711.png">

[2017-08-30 08:10] gytis opened #561 "Spring Boot circuit breaker doc shouldn't recommend skipping tests"
When deploying Circuit Breaker booster docs suggest to use the following command `mvn clean fabric8:deploy -Popenshift -DskipTests` (see section 2.5.3 of [1]). It should be `mvn clean fabric8:deploy -Popenshift`

[1] https://appdev.prod-preview.openshift.io/docs/spring-boot-runtime.html

[2017-08-30 08:12] gytis opened #562 "Spring Boot ConfigMap booster doc should explain what policy is being added"
Spring Boot ConfigMap booster documentation has a step "Add a policy for the project". It should mention what policy is being added.

[2017-08-30 08:14] gytis opened #563 "POST requests are not executed on /api/fruits/* endpoint"
Spring Boot CRUD booster's documentation says that POST requests should be executed on `/api/fruits/*` by passing a valid ID. That is not correct because when creating a fruit user cannot know an ID which will be assigned to a newly created fruit. POST requests should be executed on `/api/fruits`.

[2017-08-30 08:19] gytis opened #564 "Different pod names when explaining how to deploy a booster"
In every Spring Boot booster documentation there is a section explaining how to deploy a booster on OpenShift. It shows an example output of the OpenShift:

[code]

And then explains what status to expect. But in the wording after the example almost always pod name is different than the one in an OpenShift output example e.g. MY_APP_NAME, app1, health-check.

I think the names used in text and exa

[2017-08-30 08:23] gytis opened #565 "Is it OK to say that booster needs to be created with launch.openshift.io when it's not on OSIO?"
Every Spring Boot booster documentation says that it first has to be created with `launch.openshift.io` before deploying it with `oc` command. However, not all of them are available on actual `launch.openshift.io` but on it's copy running locally. It might be a bit confusing for the user where to create a project.

[2017-08-30 12:10] inoxx03 commented on #560
We currently do not recommend using Minishift v1.5.0 to users, due to issues with the stability of Fabric8 Maven Plugin on this version.

[2017-08-30 12:24] Ladicek opened #566 "add a note to release notes that current Fabric8 Maven plugin doesn't work with OpenShift 3.6"
The issue is tracked at https://github.com/fabric8io/fabric8-maven-plugin/issues/1016

Additional info in [OBST-352](https://issues.jboss.org/browse/OBST-352)

[2017-08-30 12:42] inoxx03 commented on #559
Thanks for catching this:)
In the docs, we still recommend using Minishift version 1.3.1, due to issue with FMP that occur on the later versions.
We'll make the update when we move to using Minishift v 1.5.0.

[2017-08-30 14:53] rhoads-zach commented on #559
@inoxx03 @rdruss relates to #450

[2017-08-30 14:54] rhoads-zach commented on #560
relates #450

[2017-08-30 15:04] inoxx03 commented on #560
More detail on deployment isues in [OBST-352](https://issues.jboss.org/browse/OBST-352)

[2017-08-30 15:04] inoxx03 commented on #559
More detail on deployment isues in [OBST-352](https://issues.jboss.org/browse/OBST-352)

[2017-08-30 16:52] #561 closed

[2017-08-30 16:53] inoxx03 commented on #561
resolved by PR #568

[2017-08-30 16:56] inoxx03 commented on #554
resolved by PR #555

[2017-08-30 16:56] #554 closed

[2017-08-30 19:46] rhoads-zach opened #574 "re-add oso flow to runtime guides"

[2017-08-30 20:13] rdruss opened #576 "Troubleshooting guide"
It would be good to have a section in the documentation where common "problems" can be collated and users can reference to quickly resolve issues they may run into.

[2017-08-30 20:35] rdruss opened #577 "Is "Command Line Tools" section in an obvious location to new OpenShift users?"
"You can find this in the Command Line Tools section your Single-node OpenShift Cluster Web console."

This implies that the user is aware that the section in question can be found in the question mark drop down to the left of their username.  If I was a new user, this location would be unintuitive to me and I may look to the left menu to find this section.

[2017-08-30 21:10] rdruss commented on #577
This same section also mentions, "Get your authentication token for using the oc CLI client with Single-node OpenShift Cluster."

However, as far as I can tell, you can only copy the entire command, *not* just the token

<img width="975" alt="token" src="https://user-images.githubusercontent.com/367748/29895147-4976c8e8-8d95-11e7-954c-58dbf37afbe2.png">

Clicking the clipboard here copies the enti

[2017-08-30 21:30] rdruss opened #579 "Openshift -> OpenShift"
If found the following instances of incorrect camel case for OpenShift:

[code]

[2017-08-31 05:16] rdruss opened #581 "Is a discussion of adding view access rights to service account needed?"
In the Eclipse Vert.x Runtime Guide sections 2.2.3 and 2.2.5 discuss adding view access rights to service account without explanation as to why.  Should there either be a quick explanation in the doc or a link to additional documentation for the user to understand why this is needed?

[2017-08-31 05:23] rdruss opened #582 "Running integration tests, documenting expected output"
In the Eclipse Vert.x Runtime Guide, section 2.2.5 discusses how to run the integration tests that are distributed with the ConfigMap booster.  When the tests are run, they complete with 0 Failures and 0 Errors.  However, the output from running the tests has a io.fabric8.kubernetes.client.KubernetesClientException that generates a stacktrace as well as a message that states, "Error deleting resou

[2017-08-31 06:01] cescoffier commented on #582
The exception is thrown when an entity created by the tests cannot be deleted (generally because it has already been deleted). This is an issue in the OpenShiftTestAssistant - we could catch the exception and reduce the impact on the screen (just logging a "short" message)

[2017-08-31 06:02] cescoffier commented on #581
For the config map booster, Vert.x requires "read" access to retrieve the content of the config map.

[2017-08-31 06:58] Ladicek commented on #581
I'd use a more explicit explanation. Something like: "Vert.x uses the OpenShift API to retrieve the content of the ConfigMap, and hence the service account under which the application runs needs the "read" permissions."

[2017-08-31 07:01] Ladicek commented on #582
Yea, there's a retry loop in OpenShiftTestAssistant, and in that retry loop, if an error occurs, we do `e.printStackTrace();` and then print a short error message before retrying. The `e.printStackTrace();` should IMHO be removed.

[2017-08-31 13:01] tradej commented on #504
PR testing implemented. Documentation pending.

[2017-08-31 13:03] tradej commented on #541
Tracked in #553.

[2017-08-31 13:03] #541 closed

[2017-08-31 13:05] tradej opened #585 "Deduplicate cico_build_deploy.sh and cico_build_test.sh"
Due to #504, there is a new script called `cico_build_test.sh` in the repo root. This script is partially identical to `cico_build_deploy`, so it warrants refactoring to eliminate the code duplication.

[2017-08-31 13:06] tradej opened #586 "Add launcher frontend test to PR testing"
The test currently run in the `pre-commit` hook should be run as a part of the PR testing suite as well.

Relates to #585 and #552.

[2017-08-31 13:39] rhoads-zach commented on #582
@rdruss @cescoffier @Ladicek do you think its appropriate for us to include a note in the docs about this? or do you think it needs to get fixed in OpenShiftTestAssistant?

[2017-08-31 13:50] rhoads-zach commented on #576
Thanks @rdruss for adding this.

Do you have any examples for content for that section?

[2017-08-31 13:59] #565 closed

[2017-08-31 14:03] rhoads-zach commented on #564
fixed in #572

[2017-08-31 14:03] #564 closed

[2017-08-31 14:44] #574 closed

[2017-08-31 19:32] rhoads-zach commented on #562
fixed in #573

[2017-08-31 19:32] #562 closed

[2017-08-31 19:34] rhoads-zach commented on #563
fixed in #569

[2017-08-31 19:34] #563 closed

[2017-08-31 20:15] rdruss opened #589 "2 ways to get application URL"
In the Eclipse Vert.x Runtime Guide section 2.3.1 step 9 has you get the application URL by using `oc get routes`.  In step 1 of the very next section (2.3.2) the recommendation is to use `oc get route MY_APP_NAME -o jsonpath={$.spec.host}` to get the URL.  Should there either be an explanation about why there are 2 different ways to get the URL demonstrated or standardize on using just 1 way?

[2017-08-31 20:44] rdruss opened #590 "CRUD integration tests remove application"
In section 2.3.3, it might be worth documenting that the integration tests for the Vert.x CRUD booster completely remove the application when the tests are complete.  If you navigate to the application overview page after the tests have been run, you get the "Add to Project" button (i.e. an empty project).

[2017-08-31 21:32] rhoads-zach commented on #589
@inoxx03 this is part of the CRUD mission. Was there a specific reason for using this different command?

[2017-08-31 21:33] rhoads-zach commented on #590
@inoxx03 do you want to take this, or would you like me to grab it?

[2017-09-01 09:05] inoxx03 commented on #579
resloved by PR #591

[2017-09-01 09:05] #579 closed

[2017-09-01 10:18] Ladicek commented on #582
I believe we should fix OpenShiftTestAssistant, but it seems to me that noone wants to hear about changing OpenShiftTestAssistant anymore. I won't speculate about the reasons. If you could mention in the docs that a stacktrace followed by a message about retrying is harmless, that would be great. It would surely be faster than propagating an OpenShiftTestAssistant change to all boosters.

Please j

[2017-09-01 10:24] Ladicek commented on #589
They are both really the same thing. `oc get route` is more suitable for human (because the user needs to read the output, figure out it's a table, read the correct value from the table) while `oc get route NAME -o ...` is more suitable for scripting (prints just what's required and nothing more).

[2017-09-01 10:27] Ladicek commented on #590
I think all integration tests do that. Actually all integration tests also deploy the app, before the test. They are just completely self-contained. (The only exception is the SSO mission, but let's not go there.)

[2017-09-01 11:41] Ladicek opened #594 "Getting Started / 1. Create a Booster: maybe note that login is required"
In the 2nd step of the launch.openshift.io wizard at latest, you have to login using Red Hat Developers account. Maybe we should call it out in this chapter.

[2017-09-01 11:43] Ladicek commented on #594
Also, in the same chapter (so not creating a new issue), we tell the user to select "Prepare for Takeoff", but that's no longer correct. Per https://launch.prod-preview.openshift.io/wizard, it's called "Launch your Project" now.

[2017-09-01 11:53] Ladicek opened #595 "issues in README of WildFly Swarm REST API Level 0 .zip booster"
I see a couple of small issues in the generated README in the .zip of the Swarm REST booster. I guess some/most of them are more common than for just this booster.

1. It says "unzip booster-rest-http-wildfly-swarm.zip", but the .zip name is "whatever-artifact-id-i-chose-in-the-wizard.zip".
2. It says "cd booster-rest-http-wildfly-swarm" after unzipping, but the directory is called "whatever-artif

[2017-09-01 11:55] Ladicek commented on #595
Also the "Next Steps" in the wizard tell me: "unzip wfswarm-rest-http.zip" and "cd wfswarm-rest-http", even though (as I said above) the .zip is called "booster.zip" and the directory in it is called "booster". I'm mentioning it here because I know (I think :-) ) that the text is present in this repo.

[2017-09-01 12:19] Ladicek opened #596 "Minishift Guide / 1.2. Install CDK: need to use oc-env as well"
The chapter 1.1. Install Minishift correctly points out that using `minishift oc-env` is needed. The chapter 1.2. Install Red Hat Container Development Kit is missing this important piece of info.

[2017-09-01 12:36] spisiakm opened #597 "Fix Install and Configure a Single-node OpenShift Cluster URL"
In (every - at least for Vert.x runtime) **Build and Deploy Your Booster** [section](https://appdev.openshift.io/docs/vertx-runtime.html#rest_build_and_deploy_booster) (and **Deploy your Booster to a Single-node OpenShift Cluster** subsection)

the link there points to minishift GitHub repo with focus on element with id `installation`, but there's no such element so you're left at the top of the p

[2017-09-01 12:46] Ladicek opened #598 "Minishift Guide / 4.1. Using an Automated Script: couple of issues"
The text says that the script will "Update the Jenkins serviceaccount to use the admin role". This used to be true, but is no longer the case. This item should be deleted.

Also it says "download the script" and after that "run the script". However, when downloading the script using `wget PROVIDED_URL`, the downloaded script doesn't have the execute permission and so I can't just `./deploy_launchp

[2017-09-01 12:49] gastaldi commented on #595
That's a bug in the launchpad-addon. I fixed it in https://github.com/openshiftio/launchpad-addon/commit/1ed9dd72f86633ffd4cf000cc318e2e67696523b

[2017-09-01 12:49] gastaldi commented on #595
Thanks for catching that! :+1:

[2017-09-01 12:59] Ladicek commented on #597
It should probably point to the Minishift guide: https://appdev.openshift.io/docs/minishift-installation.html

[2017-09-01 13:01] Ladicek commented on #595
@gastaldi Will the downloaded .zip file also have correct name and its top-level directory will have correct name? Thanks for the fix!

[2017-09-01 13:03] gastaldi commented on #595
@Ladicek yes, you can already see that in https://launch.prod-preview.openshift.io/wizard

[2017-09-01 13:09] Ladicek commented on #595
OK thanks @gastaldi. I just checked and the issue in "Next Steps" in the wizard is gone. But the issue in the README remains. So all 5 items in the 1st comment of this issue are still valid.

[2017-09-01 13:16] Ladicek opened #599 "Minishift Guide / 4.2. Manually: one small issue"
Near the end of this chapter, in item 10 of the procedure, the text reads "wait and confirm that the three services for the launch.openshift.io application are starting up". And below, there's a picture with _four_ services. (Which is correct, there _are_ 4 services.) Just change the number in that sentence :-)

[2017-09-01 13:18] Ladicek opened #600 "Minishift Guide / 5. Next Steps: maybe also link to Node.js guide?"
This chapter links to the Spring Boot guide, Vert.x guide and Swarm guide. Maybe it should also link to the Node.js guide?

[2017-09-01 13:45] Ladicek opened #601 "Minishift Guide / Appendix A: Using Nexus: couple of issues"
At the beginning of the chapter, in subchapter A.1, the text reads "You must use oc version 3.6.0 or later". I've just tested with Minishift 1.3.1 and its default version of OpenShift Origin, which is 1.5, and it all works just fine. I think we should just remove this sentence and also, from the code block above, the command `minishift config set openshift-version v3.6.0`. I don't know who asked t

[2017-09-01 14:08] rhoads-zach commented on #601
@inoxx03 you mind taking this?

[2017-09-01 14:17] rhoads-zach opened #602 "Update Node.js callout at start of guide"
Remove "coming soon" and add important callout subscription note.

[2017-09-01 16:17] #599 closed

[2017-09-01 17:42] #504 closed

[2017-09-01 19:19] #598 closed

[2017-09-01 19:21] #594 closed

[2017-09-02 03:28] rdruss opened #615 "oc use case - zip download or clone git repo?"
In looking at oc-client-deploy-booster-download-note.adoc it's stated that "You must still create a booster using the {launcher} application before you can deploy it using the oc CLI client.".  However, this is not true (at least for Vert.x) as you can just as easily clone the Github repo and follow the exact same steps.  I'm not sure if this note should be changed or if another use case should be

[2017-09-04 07:45] #553 closed

[2017-09-04 10:58] liborfuka opened #616 "SpringBoot, VertX, Swarm booster chapters - note about code download"
There should be some note at the beginning of every mission chapter where to download code what is chapter about.
For example 'Code can be downloaded from launchpad...select booster xy and download the code in zip....

Just to know and see code what is chapter about.

[2017-09-04 15:06] #602 closed

[2017-09-04 16:57] #595 closed

[2017-09-04 17:01] #600 closed

[2017-09-05 16:02] inoxx03 commented on #589
@rhoads-zach @Ladicek Thanks:) I'll go with  `oc get route` in this example to keep it consistent with the rest of the docs.

[2017-09-05 16:26] inoxx03 commented on #589
fixed in #618

[2017-09-05 17:04] #589 closed

[2017-09-05 17:08] rhoads-zach commented on #615
@rdruss I believe we want to direct users to using the launcher since it gives them the customized README files that you would not get if you just cloned the upstream repo.

Let me know if you feel differently @ALRubinger but closing this for right now.

Feel free to re-open if you want to discuss

[2017-09-05 17:08] #615 closed

[2017-09-05 17:30] inoxx03 commented on #590
resolved by PR #619

[2017-09-05 18:22] rhoads-zach opened #620 "Update landing page look/feel"
It should match this the new launcher page.

[2017-09-05 21:47] #590 closed

[2017-09-06 12:51] inoxx03 commented on #601
@Ladicek Thank you for the feedback:)
I'll make the changes and file a PR.

[2017-09-06 14:53] rhoads-zach opened #623 "Create appendix in nodejs guide explaining nodeshift plugin"

[2017-09-06 14:54] rhoads-zach commented on #620
fixed in #621

[2017-09-06 14:54] #620 closed

[2017-09-06 15:42] inoxx03 commented on #616
@liborfuka We could add a link to the [Launcher](launch.openshift.io/wizard) at the top of each mission  section. Accessing the launcher, however, requires early access, so users must first request access to the launcher in order to be able to Download the ZIP file and preview the code.
Another alternative would be to provide a link directly to the Git Hub repo that hosts the code for each individ

[2017-09-06 15:52] inoxx03 commented on #616
IIUC, a similar workflow is described in the Getting Started Guide, [section 1}(https://appdev.openshift.io/docs/getting-started.html#oso-create-booster).
Did you mean something like this?

[2017-09-06 16:58] inoxx03 commented on #581
@Ladicek, @cescoffier @rdruss; IIUC, for the ConfigMap booster (and integration tests), the service account needs to have _read_ permissions, not _view_ permissions, to access the ConfigMap. (Or is it both?)

[2017-09-06 17:03] Ladicek commented on #581
So what actually happens is that we add the `view` role to the service account under which the application is running. Maybe we can stay away of mentioning specific role/permission names, stating just "needs permissions to read the configmap" or something.

[2017-09-06 18:22] #596 closed

[2017-09-06 18:25] #601 closed

[2017-09-06 20:07] inoxx03 commented on #325
Relates to JIRA [OBST-362](https://issues.jboss.org/browse/OBST-362)

[2017-09-06 20:10] inoxx03 commented on #325
Required Component versions will be tracked in the Release Notes

[2017-09-06 20:50] rhoads-zach commented on #623
Background info: https://github.com/bucharest-gold/nodeshift

[2017-09-06 22:04] inoxx03 commented on #581
resolved in PR #625

[2017-09-07 06:24] liborfuka commented on #616
Yes, its enough, just something like that for specific booster. Thank you.

[2017-09-07 13:56] inoxx03 commented on #577
resolved in PR #626

[2017-09-07 14:27] #616 closed

[2017-09-07 14:38] #581 closed

[2017-09-07 18:47] #623 closed

[2017-09-08 14:53] #577 closed

[2017-09-08 17:06] #597 closed

[2017-09-08 21:28] rhoads-zach opened #632 "Consider names of paths in booster creation"
![new issue](https://user-images.githubusercontent.com/208104/30231851-8d4596fc-94b2-11e7-91ec-15949389b0c0.png)

Given the above, the [GSG](https://appdev.openshift.io/docs/getting-started.html#oso-create-booster) currently says:

We need to decide if we should use the section name (top) or the button name (bottom).

@gastaldi what are your thoughts on making the button and section name consisten

[2017-09-08 23:02] gastaldi commented on #632
Maybe `Use Continuous Delivery` should be renamed to `Use OpenShift Online` in this case.

[2017-09-11 15:30] rhoads-zach opened #633 "Add new section on S2I build for launcher"
![issue](https://user-images.githubusercontent.com/208104/30282741-c6993834-96db-11e7-9da3-8fe51bf84929.png)

In Review screen, after launch, change text to no longer review to Pipelines: _Setting up your build pipeline_

- Add a new section in the docs that talks about build process and what launcher is doing for you.

[2017-09-11 15:33] rhoads-zach opened #634 "Update READMEs with local runtime pre-requisites"
Node.js: Node 7.6 or 8, NPM 4 or 5
Wildfly/Vert.x/Springboot: Java, Maven

[2017-09-11 15:58] Ladicek commented on #634
Specifically for Java runtimes (CC @kenfinnigan @cescoffier @cmoulliard), I believe it's Java 8 and Maven 3.3.9+

[2017-09-11 16:03] kenfinnigan commented on #634
For WF Swarm it's Java 8 and Maven 3.3.x

[2017-09-11 16:23] rhoads-zach commented on #634
Thanks for the rapid feedback @kenfinnigan and @Ladicek

@lholmquist do i have the node info correct?

[2017-09-11 16:26] lholmquist commented on #634
For Node, that should be good

[2017-09-11 20:30] rhoads-zach opened #637 "Refactor instructions and mentions of pipelines"

[2017-09-11 20:32] rhoads-zach opened #638 "Document keycloak configuration process"

[2017-09-12 12:58] #632 closed

[2017-09-12 13:01] #633 closed

[2017-09-12 13:11] rhoads-zach commented on #638
per @gastaldi, we should add this:

How to find the cluster I'm on? Login in manage.openshift.com and check the cluster that's assigned to you.

Have you been de-provisioned?

[2017-09-13 14:37] rhoads-zach opened #641 "Update nexus repository section based on S2I updates"
https://appdev.prod-preview.openshift.io/docs/minishift-installation.html#_using_a_nexus_repository_server_with_the_launch_openshift_io_application_on_your_single_node_openshift_cluster

[2017-09-13 14:38] rhoads-zach commented on #641
Based on the work in #637, update the nexus repo section

[2017-09-13 15:05] tradej commented on #413
The link on Launchpad was added, closing.

[2017-09-13 15:05] #413 closed

[2017-09-14 08:49] #637 closed

[2017-09-14 15:23] #638 closed

[2017-09-14 20:59] rhoads-zach opened #644 "Update "continuous delivery" title in GSG to "build and deploy""

[2017-09-14 21:01] rhoads-zach opened #645 "take editing pass at node.js configmap content"
This was merged
https://github.com/openshiftio/appdev-documentation/pull/643

and should have an editing pass.

[2017-09-18 10:32] tradej opened #647 "Check capitalisation of headings for consistency"
This is important for downstream docs. See [e-mail](http://post-office.corp.redhat.com/archives/content-services-list/2017-September/msg00183.html) (internal).

[2017-09-18 14:16] #644 closed

[2017-09-18 16:55] inoxx03 commented on #641
@rhoads-zach  Thanks, I'll take this:)

[2017-09-19 12:59] tradej commented on #585
This is soft-blocked by #609 because conflicts are more than likely to happen.

[2017-09-19 13:21] tradej commented on #552
Waiting for #609 (the `check_launchpad.sh` script is introduced there).

[2017-09-19 16:39] #389 closed

[2017-09-19 16:43] rhoads-zach opened #648 "Fix link title in crud mission intro"
Line 3 here
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/crud-mission-intro-paragraph.adoc#L3

is inconsistent with Line 3 here:
https://github.com/openshiftio/appdev-documentation/blob/master/docs/topics/circuit-breaker-mission-intro-paragraph.adoc

crud mission link should have a title.

[2017-09-19 16:53] #566 closed

[2017-09-19 17:08] inoxx03 commented on #648
resolved in PR #649

[2017-09-19 17:55] #648 closed

[2017-09-19 17:58] inoxx03 commented on #641
reference:
* [Email thread](https://mail.google.com/mail/u/1/#search/build+and+deploy/15e869b9ad4a0133?compose=15e9b3f1bec9bb0e)

* [OpenShift Docs nexus Guide](https://docs.openshift.com/container-platform/3.5/dev_guide/app_tutorials/maven_tutorial.html)

[2017-09-20 09:33] tradej opened #655 "Improve validating performance on slow connections"
The `validate_guides.sh` script now always downloads the DocBook schema when validating a single guide. This incurs a significant performance penalty on slow connections (11 seconds for the entire validation _on my 100 Mbps cable connection_ at home), which is a problem since validation is now run with every commit.

I believe downloading the schema once and using the stored file for validating ev

[2017-09-20 09:45] #645 closed

[2017-09-20 10:41] #586 closed

[2017-09-20 10:45] tradej commented on #552
This was resolved in #609 by adding the `check_launchpad.sh` script to `Dockerfile.build`, which is used both in `cico_build_deploy.sh` and `cico_build_test.sh`.

[2017-09-20 10:45] #552 closed

[2017-09-20 14:47] rhoads-zach opened #658 "Update GSG paragraph around minishift"
Update Intro paragraph here: https://appdev.prod-preview.openshift.io/docs/getting-started.html#_build_and_deploy_using_single_node_openshift_cluster

Update for build and deploy

[2017-09-20 14:48] #560 closed

[2017-09-20 14:49] #449 closed

[2017-09-20 14:50] #325 closed

[2017-09-20 15:17] rhoads-zach commented on #283
@lavernw1 the process has been updated to directly use s2i:

https://appdev.prod-preview.openshift.io/docs/getting-started.html#build-and-deploy-process

@Ladicek @ALRubinger do you think we need to go into a deeper explanation?

[2017-09-20 20:39] #559 closed

[2017-09-21 09:32] tradej opened #663 "Assign hardcoded IDs to all headings"
Follow-up to #647.

All headings should have consistent, hard-coded IDs so that a change in the heading's wording does not affect existing links.

[2017-09-21 10:20] #647 closed

[2017-09-21 17:22] #655 closed

[2017-09-21 18:06] inoxx03 opened #665 "Create Release Notes article on Customer Portal"
Move the content from the RN google doc.
To remain unpublished until further notice.
Structure based on
 [EAP7 Beta RN](https://access.redhat.com/articles/3036251)

[2017-09-22 20:35] rhoads-zach commented on #543
This isn't needed anymore

[2017-09-22 20:35] #543 closed

[2017-09-25 15:19] #658 closed

[2017-09-25 16:21] Ladicek commented on #283
I think it's fine.

[2017-09-25 17:35] rhoads-zach commented on #283
thank you @Ladicek closing for now.

[2017-09-25 17:35] #283 closed

[2017-09-25 21:26] rhoads-zach opened #667 "Add note about windows option for install script"
per feedback from @thesteve0, add a note in the Creating launch.openshift.io Application Using Automated Script that it does not support windows and redirect to manual section

[2017-09-26 09:50] tradej commented on #663
Dependent on redhat-documentation/modular-docs/pull/19.

[2017-09-26 14:27] #667 closed

[2017-09-26 14:53] tradej opened #670 "Reword + improve complicated passages"
Some parts of the docs, especially the introductions, are often quite verbose and hard to read, especially for newcomers to the topic. I believe we should reword these parts for improved readablility, among others:

* _General Missions intro:_ Very technical terms, long sentences that are hard to read.
* _REST API mission intro:_ Quite technical. Given it's the most basic of the missions, I believ

[2017-09-26 17:27] #309 closed

[2017-09-27 07:26] mkouba opened #671 "ZIP download links in booster descriptions point to Using OpenShift Online to Create a Booster"
I find confusing that _"download and extract the Booster ZIP"_ links point to _"Using OpenShift Online to Create a Booster"_ section.

[2017-09-27 07:43] Ladicek opened #672 ""Building and Deploying to OpenShift Build Process" sounds weird"
Appendix B of the Getting Started Guide is called "Building and Deploying to OpenShift Build Process", which sounds weird. This is after the recent heading changes; sorry for not catching it earlier.

[2017-09-27 08:45] inoxx03 commented on #665
[Portal article](https://access.redhat.com/articles/3194372) for the RHOAR Beta 2 Release Notes

[2017-09-27 08:47] tradej opened #673 "Consistent capitalisation of RHOAR concepts"
In the majority of contexts, we use _booster, mission,_ or _runtime_ lowercased. However, there are portions of the docs where they are uppercased, namely _boosters_ are referred to as _Boosters_ in the CRUD mission description.

I believe we need to lowercase all the occurrences of such terms (except for headings and so, of course) to maintain consistency.

[2017-09-27 08:53] Ladicek commented on #673
+1 from me

[2017-09-27 08:55] Ladicek commented on #665
By closing this issue, do you mean it's finished? Because I know that at least the Vert.x and Swarm version numbers are for Beta1, not for Beta2. There might be other issues, I didn't review very closely.

[2017-09-27 09:06] tradej commented on #671
@mkouba, please review #674 if it satisfies your concern. Thank you.

[2017-09-27 10:12] inoxx03 commented on #665
@Ladicek No, the Release Notes article is not finished, there are several sections of the article that still need to be updated and reviewed, including the Supported Maven Artifact versions, Known Issues and the Support Statement.
I'll keep this issue open until all the information in the article has been updated.

[2017-09-27 10:16] Ladicek commented on #665
OK, thanks.

[2017-09-27 12:16] tradej opened #676 "HTML previews for pull requests"
In other teams, a build service is used to preview the docs in the HTML form. In my opinion, we should have a similar service available to facilitate SME and peer reviews. In the experience of me and my colleagues, having the rendered document readily available helps getting feedback greatly, especially from third parties.

 The solution could be run in [ci.centos.org](https://ci.centos.org), or c

[2017-09-27 14:01] #671 closed

[2017-09-27 14:03] mkouba commented on #671
Looks good.

[2017-09-27 23:54] inoxx03 opened #679 "Clean up issue descriptions in the changelog"

[2017-09-28 18:17] lavernw1 opened #680 "Minor edits for Spring Boot guide and related missions"
1..Section 3 Relational Database  Backend Mission - Spring Boot Tomcat Booster
minor grammar changes
 correction for sentence below -> integration tests (its repeated in another place in this doc)
This booster also contains a set of automated integration test that can be used to verify that the application is fully integrated with the database.

2. In these sections potentially remove the word sti

[2017-09-29 14:54] inoxx03 commented on #665
[Beta 2 Release Notes](https://access.redhat.com/articles/3194372) are ready to be published. Closing this issue.

[2017-09-29 14:54] #665 closed

[2017-09-29 17:04] inoxx03 commented on #670
I own some of the docs sections that you've referenced in the description (Circuit Breaker, Nexus) as having clumsy wording. I'll take this issue.

[2017-09-29 19:07] #525 closed

[2017-09-29 20:29] lavernw1 opened #683 "misc edits for Install and Configure Single-Node OpenShift Cluster guide"
Sentence in abstract section after launch url has a typo   ->  application

[2017-10-02 08:15] tradej commented on #670
No problem, just please don't close the issue until we've agreed the docs are in a reasonably good shape in terms of readability—the list of passages in the description is non-exhaustive.

[2017-10-02 08:19] tradej commented on #679
If this means the rewording-style clean-up, I'm not particularly in favour it. Changing items' descriptions may make the CHANGELOG look nice, but it introduces discrepancy when the reader clicks at a link, and a differently-named issue opens. Likewise, it makes it harder or impossible to copy-paste the issue description into search fields.

If it is a different kind of clean-up, ignore this commen

[2017-10-02 08:37] tradej opened #684 "Latest publication is not tagged"
Please tag the latest commit we published. Thank you.

[2017-10-02 09:51] tradej opened #685 "More user-friendly local preview server"
Currently, the user must run two fairly complicated commands that do not take any arguments to get the local server running. I think we could reintroduce `scripts/preview_server.sh` that would do just that.

[2017-10-02 09:54] Ladicek commented on #684
Was there a release? It seems yes, but I didn't see an announcement. After tagging, please also send an announcement. Thanks :-)

[2017-10-02 10:29] tradej commented on #684
Changed the description from "release" to "publication." The books at appdev.openshift.io/docs list `2017-09-29` as the latest publication, so there was one.

[2017-10-02 11:43] inoxx03 commented on #679
@tradej. It was, as you've correctly assumed, meant to be a re-word. As much as I like nicely worded and informative descriptions, I have to admit,  you absolutely have a point here.
Besides, no changelog edits will be necessary if we all write nice issue descriptions.
Therefore, I propose close this as 'wontfix'. Toughts?

[2017-10-02 11:44] inoxx03 commented on #684
@tradej Good catch:) Also, since there is no tag yet, there is no way to create a release in the upstream repo. I'll do the tagging if that's ok.

[2017-10-02 11:56] inoxx03 commented on #670
Understood. I'll do a partial resolution and keep the issue open as long as there are fixes left to be made. Thanks for the heads up:)

[2017-10-02 13:30] inoxx03 opened #686 "Update changelog: add missing issues from previous relases."
The changelog seems to be lagging behind our releases. There are no issues for the `2017-09-08` and `2017-09-29` releases.

[2017-10-02 13:31] inoxx03 commented on #686
The [changelog](https://github.com/openshiftio/appdev-documentation/blob/master/CHANGELOG.adoc) is now up to date.

[2017-10-02 14:07] #686 closed

[2017-10-02 14:19] tradej commented on #416
Update: The final document is not yet finished. I have requested acceleration of the matter.

[2017-10-02 14:31] inoxx03 commented on #684
The [`2017-09-29` release](https://github.com/openshiftio/appdev-documentation/releases/tag/2017-09-29) is now tagged. [Older releases](https://github.com/openshiftio/appdev-documentation/releases) have been added as well.

[2017-10-02 14:31] #684 closed

[2017-10-02 16:36] inoxx03 commented on #672
@Ladicek I agree. This sentence, while not outright incorrect, seems highly ambiguous and slightly confusing.
IMHO, we seem to have 2 options here:

We could make it simpler, like:

or, longer and more explicit, as in something like:

Personally, I tend to favor the former. WDYT?

[2017-10-02 16:49] inoxx03 commented on #672
Fixed in PR #688

[2017-10-04 09:12] tradej commented on #641
Closed via #664.

[2017-10-04 09:12] #641 closed

[2017-10-04 16:32] inoxx03 opened #689 "Update link-repo-docs attribute to point to the new docs repo URL"

[2017-10-04 17:20] inoxx03 opened #691 "Update all references to the docs repository to point to the new URL"
NOTE:  in most cases listed below, the change does not break the links in question. IMHO, they should still be updated.

The new docs repo URL is: `https://github.com/fabric8-launch/appdev-documentation`
it replaces the old one: `https://github.com/openshiftio/appdev-documentation`

This replacement affects:
* all issue links in CHANGELOG.adoc (note-to-self:  update `generate_changelog.sh` to conv

[2017-10-05 15:00] rhoads-zach opened #694 "Update urls for new github org"
Update the following to use the new github url location:

1. https://github.com/fabric8-launch/appdev-documentation/blob/master/nginx.conf#L56
2. https://github.com/fabric8-launch/appdev-documentation/blob/master/docs/topics/templates/document-attributes.adoc#L134

[2017-10-05 20:31] rhoads-zach commented on #694
fixed #690

[2017-10-05 20:31] #694 closed

[2017-10-05 20:32] rhoads-zach commented on #691
fixed in #693

[2017-10-05 20:32] #691 closed

[2017-10-05 20:40] rhoads-zach opened #695 "Add note about persistent storage to CRUD mission"
Add note about persistent storage to:

docs/topics/crud-mission-design-tradeoffs.adoc

[2017-10-06 15:03] inoxx03 commented on #689
resolved by PR #690

[2017-10-06 15:03] #689 closed

[2017-10-06 15:09] tradej opened #697 "Minishift guide name impractical"
Is it within our power to get the Minishift guide renamed to something else? I do not know the story behind the current one, but I consider it almost impossible to refer to in text. For example:

_See chapter XYZ of the Install and Configure the developers.redhat.com/launch Application on a Single-node OpenShift Cluster [Guide]._

The word _Guide_ is not even in the name of the book.

I don't know

[2017-10-09 12:40] inoxx03 commented on #672
#688 was closed without merging due to outdated changes. Closing this issue as outdated.

[2017-10-09 12:40] #672 closed

[2017-10-09 15:27] #695 closed

[2017-10-10 14:29] rhoads-zach commented on #697
Updating
 developers.redhat.com/launch -> Fabric8 Launcher

Also, adding intro section explaining what the Fabric8 Launcher is.

[2017-10-10 14:41] inoxx03 commented on #416
@tradej @cmoulliard FYI: The Red Hat [AsciiDoc Markup Conventions](https://redhat-documentation.github.io/asciidoc-markup-conventions/) have been published on GitHub Pages.
I'm fairly certain the the linked doc is the latest revision to date (but I don't know if this is the final document).

[2017-10-10 14:55] rhoads-zach opened #698 "remove SSO mission from docs for now"

[2017-10-11 11:03] inoxx03 commented on #698
resolved in PR #699

[2017-10-11 14:43] inoxx03 opened #700 "Add documentation around the Launcher"
Related to JIRA: // insert JIRA key here once it is created //

Concerns raised at last PM call about the lack of adequate docs around Fabric8 Launcher.
Docs team expected to address this next week (Oct 16th -20th) to leas enough time for review.

Addition info from the call:

Docs should also cover using the Launcher in greater detail
Docs should also include more detail on what RHOAR is.

Docs s

[2017-10-11 15:23] #698 closed

[2017-10-11 16:54] tradej commented on #697
Please consider also updating the glossary if applicable/necessary.

[2017-10-11 17:40] inoxx03 opened #701 "Refactor the Secured booster documentation"
This issue is a blanket issue for the SSO booster docs refactor.
The partial tasks are now covered  by issues:
#716, #717, #718, #719, #720, #721 & #722

[2017-10-11 18:19] lavernw1 commented on #683
This issue should have been written on downstream docs repository. It  has been fixed in rhoar-documentation  #issue 3  docs\master-docinfo.xml.

[2017-10-11 18:20] #683 closed

[2017-10-12 08:19] Ladicek commented on #701
We actually already have this :-)

[2017-10-12 08:38] heiko-braun commented on #701
We started to capture the required changes in a google doc, before consolidating it and submitting a PR: https://docs.google.com/document/d/10AR1-QW1J4UGphEXcy4c-bWulxH1Lo06XcjqkVCfyE4/edit#

[2017-10-12 10:01] inoxx03 commented on #701
Oh snap, you're right, @Ladicek :) Thanks for catching that. I've removed the item.

[2017-10-13 18:44] rhoads-zach opened #705 "update readmes to be more explicit on JVM requirements"

[2017-10-13 23:15] #697 closed

[2017-10-13 23:53] inoxx03 opened #707 "Update Minishift and CDK versions"
The Minishift version in the docs is currently listed as `1.5.0`,
CDK version is listed as `3.0.0`.
AFAIK, this is no longer true, as we have moved to  CDK version `3.1.1`.
We are also currently using Minishift version `1.7.0`.

resolved in PR #708

[2017-10-16 11:28] inoxx03 commented on #700
@cmoulliard Is there a JIRA issue open for this? If there is, would you please provide the JIRA key? I don't seem to be able to find the issue. Thanks.

[2017-10-16 18:18] #705 closed

[2017-10-16 19:51] rhoads-zach opened #711 "Document process and details for testing boosters"
* what goes on with `mvn clean verify -Popenshift,openshift-it`
* how do you update our tests
* what is used for testing